@model RDDStaffPortal.DAL.DataModels.Voucher.RDD_PV

@{
    var count = 1;
}

<div class="card-body smform-section">
    <div class="row">
        @Html.HiddenFor(m => m.EditFlag, true)
        @Html.HiddenFor(m=>m.PVId)
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Country :</label>
                <div class="col-md-8 p-0">
                    @Html.DropDownListFor(m => m.Country, Model.CountryList, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Database :</label>
                <div class="col-md-8 p-0">
                    @Html.DropDownListFor(m => m.DBName, Model.DBNameList, new { @class = "form-control form-control-sm" })
                </div>


            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Ref No. :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.RefNo, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Voucher Type :</label>
                <div class="col-md-8 p-0">
                    @Html.DropDownListFor(m => m.VType, Model.VTypeList, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Employee :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.VendorEmployee, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Voucher Status :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.DocStatus, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Currency :</label>
                <div class="col-md-8 p-0">
                    @Html.DropDownListFor(m => m.Currency,Model.CurrencyList, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Benificiary :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.Benificiary, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Payment Req. Date :</label>
                <div class="col-md-8 p-0">
                    <div class="input-group">
                        @Html.TextBox(string.Concat("PayRequestDate", 1), count, new { @class = "form-control form-control-sm datepickerH" })
                        @Html.HiddenFor(m=>m.PayRequestDate)
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Requested Amt. :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.RequestedAmt, new { @class = "form-control form-control-sm", @type = "number" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Pay Method :</label>
                <div class="col-md-8 p-0">
                    @Html.DropDownListFor(m => m.PayMethod, Model.PayMethList, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Pay Ref. Img. :</label>
                <div class="col-md-8 p-0">
                    <div class="file-upload">
                        <div class="file-select">
                            <div class="file-select-button" id="fileName"><i class="fas fa-paperclip"></i> File</div>
                            <div class="file-select-name" id="noFile">No file chosen...</div>
                            <input type="file" name="chooseFile" id="chooseFile">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Approved Amt. :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.ApprovedAmt, new { @class = "form-control form-control-sm", @type = "number" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Pay Ref. No. :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.PayRefNo, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Pay Ref. Date. :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBox(string.Concat("PayDate", 1), count, new { @class = "form-control form-control-sm datepickerH" })
                    @Html.HiddenFor(m => m.PayDate)
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">

        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Bank Name :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.BankName, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Created By :</label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.CreatedBy, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Being Payment of :</label>
                <div class="col-md-10 p-0">
                    @Html.TextBoxFor(m => m.BeingPayOf, new { @class = "form-control form-control-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Created No. :</label>
                <div class="col-md-8 p-0">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.PayRefNo, new { @class = "form-control form-control-sm" })
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row creditlimit">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vendor Ageing Report</h5>
    </div>
    <div class="table-responsive">
        <div class="quick-scroll scrollbar-inner">
            <div class="reddotTable sm-form mar-t0">
                <div class="reddotTableBody">
                    <div class="reddotTableRow odd-even-row">
                        <div class="reddotTableHead"><div>Balance</div></div>
                        <div class="reddotTableHead"><div>0 - 30</div></div>
                        <div class="reddotTableHead"><div>31 - 45</div></div>
                        <div class="reddotTableHead"><div>46 - 60</div></div>
                        <div class="reddotTableHead"><div>61 - 90</div></div>
                        <div class="reddotTableHead"><div>91 - 120</div></div>
                        <div class="reddotTableHead"><div>120</div></div>
                    </div>
                </div>
                <div class="reddotTableBody">
                    <div class="reddotTableRow odd-even-row">
                        <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="" disabled></div></div>
                        <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="" disabled></div></div>
                        <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="" disabled></div></div>
                        <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="" disabled></div></div>
                        <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="" disabled></div></div>
                        <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="" disabled></div></div>
                        <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="" disabled></div></div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-md-11">
            <div class="reddotTable sm-form mar-t0">
                <div id="IInd" class="reddotTableBody">
                    <div class="reddotTableRow odd-even-row">
                        <div class="reddotTableHead width5per"><div>Sr. No.</div></div>
                        <div class="reddotTableHead width8per"><div>Date</div></div>
                        <div class="reddotTableHead width15per"><div>Description</div></div>
                        <div class="reddotTableHead width8per"><div>Amount</div></div>
                        <div class="reddotTableHead width15per"><div>Remark</div></div>
                        <div class="reddotTableHead width15per"><div>View</div></div>
                        <div class="reddotTableHead width15per"><div>Add Attechment</div></div>
                        <div class="reddotTableHead width7per"><div>Action</div></div>
                    </div>
                </div>
                <div id="IIbody" class="reddotTableBody">

                    @if (Model.RDD_PVLinesDetails != null)
                    {


                        for (int i = 0; i < Model.RDD_PVLinesDetails.Count(); i++)
                        {
                            <div id="IIst" class="reddotTableRow odd-even-row PVLines">
                                <div class="reddotTableCell Abcd"> <div> @Html.TextBox(string.Concat("LineRefNo", count), count, new { @readonly = "readonly" })
                                       @Html.Hidden(string.Concat("PVLineId", count), Model.RDD_PVLinesDetails[count-1].PVLineId.ToString())</div> </div>
                                <div class="reddotTableCell Abcd"> <div>  @Html.TextBox(string.Concat("Date1", count), Model.RDD_PVLinesDetails[count-1].Date.ToString(), new { @class = "form-control form-control-sm datepicker" })</div> </div>
                                <div class="reddotTableCell Abcd"> <div>@Html.TextBox(string.Concat("Description", count), Model.RDD_PVLinesDetails[count-1].Description.ToString(), new { @class = "form-control form-control-sm" })</div> </div>
                                <div class="reddotTableCell Abcd"> <div> @Html.TextBox(string.Concat("Amount", count), Model.RDD_PVLinesDetails[count-1].Amount.ToString(), new { @class = "form-control form-control-sm" })</div> </div>
                                <div class="reddotTableCell Abcd"> <div> @Html.TextBox(string.Concat("Remarks", count), Model.RDD_PVLinesDetails[count-1].Remarks.ToString(), new { @class = "form-control form-control-sm" })</div> </div>
                                <div class="reddotTableCell Abcd"><div><i class="fas fa-eye"></i>  Document Name</div></div>
                                <div class="reddotTableCell Abcd">
                                    <div>
                                        @Html.TextBox(string.Concat("FilePathInput", count), Model.RDD_PVLinesDetails[count-1].FilePath.ToString(), new { @class = "form - control form - control - sm - file", type = "File", multiple = "multiple", @Title = "" })
                                        @Html.Hidden(string.Concat("hdnFilePathInput", count), Model.RDD_PVLinesDetails[count-1].FilePath.ToString())
                                    </div>
                                </div>

                                <div class='reddotTableCell'><div><button type='button' title='' class='btn btn-danger delete btn-sm ibtnDel' data-original-title='Delete' id="btntblDel"> <i class='fas fa-trash'></i></button></div></div>

                            </div>
                            count++;
                        }


                    }

                    <div id="IIst" class="reddotTableRow odd-even-row PVLines">
                        <div class="reddotTableCell Abcd"> <div>@Html.TextBox(string.Concat("LineRefNo", count), count, new { @readonly = "readonly" })</div> </div>
                        <div class="reddotTableCell Abcd"> <div>  @Html.TextBox(string.Concat("Date1", count), "", new { @class = "form-control form-control-sm datepicker" })</div> </div>
                        <div class="reddotTableCell Abcd"> <div>@Html.TextBox(string.Concat("Description", count), "", new { @class = "form-control form-control-sm" })</div> </div>
                        <div class="reddotTableCell Abcd"> <div> @Html.TextBox(string.Concat("Amount", count), "", new { @class = "form-control form-control-sm", @type = "number" })</div> </div>
                        <div class="reddotTableCell Abcd"> <div> @Html.TextBox(string.Concat("Remarks", count), "", new { @class = "form-control form-control-sm" })</div> </div>
                        <div class="reddotTableCell text-left Abcd">
                            <div>

                                <a class="fas fa-eye"></a>
                                <label id="lblDocname">Document Name</label>
                                @Html.Hidden(string.Concat("hdnFileURLInput", count), "")

                            </div>
                        </div>
                        <div class="reddotTableCell  Abcd">
                            <div>
                                @*<div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="rowfileName"><i class="fas fa-paperclip"></i>  File</div>
                                            <div class="file-select-name" id="rownoFile">No file chosen...</div>
                                            <input type="file" name="chooseFile" id="rowchooseFile">
                                        </div>
                                    </div>*@
                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="rowfileName"><i class="fas fa-paperclip"></i>  File</div>
                                        @Html.TextBox(string.Concat("FilePathInput", count), "", new { @class = "file-select-name", type = "File", multiple = "multiple", @Title = "No file chosen...", @text = "No file chosen..." })
                                        @Html.Hidden(string.Concat("hdnFilePathInput", count), "")
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='reddotTableCell'><div><button type='button' title='' class='btn btn-danger delete btn-sm ibtnDel' data-original-title='Delete' id='btntblDel'> <i class='fas fa-trash'></i></button></div></div>
                    </div>



                </div>
                @Html.Hidden(string.Concat("hdncount"), count)
            </div>

        </div>


    </div>
</div>

<div class="modal fade" id="DocumentviewPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Document View</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body padd-b0">
                <iframe src="">
                </iframe>
            </div>

        </div>
    </div>
</div>

<!-- DateTimePicker -->




<script type="text/javascript">

    tblDetails = ['PVLineId', 'Date1', 'Description', 'Amount', 'Remarks', 'FilePathInput','hdnFilePathInput'];

    var dateNow = new Date();
    $(".datepickerH").datetimepicker({
        //defaultDate: dateNow,
        format: 'DD/MM/YYYY',
        showClose: true,
        showClear: true,

    });
    $(".datepicker").datetimepicker({
      //  defaultDate: dateNow,
        format: 'DD/MM/YYYY',
        showClose: true,
        showClear: true,

    });
   





    $("#IIst").on("change", "input[id^='Remarks']", function () {
        RedDot_tbldtpicker();
        $(".datepicker").datetimepicker("destroy");
        var tr = $("#IIst").clone(true);
        var tr2 = $(this).closest("#IIst");
        var count2 = parseInt($("#hdncount").val())
        var m = tr2.find("input[id^='LineRefNo']").val();
        if (m < count2) {
            return;
        }
        var count1 = parseInt(count2) + 1;
        RedDot_Table_Attribute(tr, tblDetails, count1,".PVLines");
        tr.find(".fa-eye").removeAttr("href");
        tr.find("#lblDocname").text('Document Name');
        tr.find("input[id ^= 'FilePathInput']").attr("title", "No file chosen...");

        $("#IIbody").append(tr);


    })

    $('body').on('focusin', '.datepicker', function () {
        $('.datepicker').datetimepicker({
            defaultDate: dateNow,
            format: 'DD/MM/YYYY',
            showClose: true,
            showClear: true,

        });

    });


</script>



<script>


    $(document).ready(function () {

        if ($("#EditFlag").val() == "True") {

        }

        RedDot_tableLstEnt("#IIst", "input[id^='Remarks']", "input[id ^= 'Date1']", "Please Enter Remark", "T", "");
        RedDot_tableTabEve("#IIst", "input[id^='Date1']", "input[id^='Description']", "", "T", "");
        RedDot_tableTabEve("#IIst", "input[id^='Description']", "input[id^='Amount']", "Please Enter Description", "T", "");
        RedDot_tableTabEve("#IIst", "input[id^='Amount']", "input[id^='Remarks']", "Please Enter Amount", "N", "");
        RedDot_tableTabEve("#IIst", "input[id^='Remarks']", "input[id ^= 'rowchooseFile']", "Please Enter Remark", "T", "");


        $('#Country').select2({
           
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select--'
        });
        $('#DBName').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select--',
           
        });
        $('#Currency').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select--',
           
        });
        $('#PayMethod').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select --',
           
        });
        $('#VType').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select --',

        });


        //$("#IIst").on("click", ".fa-eye", function () {
        //    debugger
        //    var tr = $(this).closest("#IIst");
        //    $(".fa-eye").attr("href", tr.find("input[id ^= 'hdnFilePathInput']").val());

        //   // $('#DocumentviewPopup').modal('show');
        //})

        $("#IIst").on("change", "input[id^='FilePathInput']", function (event) {
            debugger
            var tr = $(this).closest("#IIst");
            var data = new FormData();
            var files = tr.find("input[id ^= 'FilePathInput']").get(0).files;
            if (files.length > 0) {
                data.append("Files", files[0]);
            }
            $.ajax({
                url: "/SAP/RDD_PV/UploadDoc",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    debugger
                    if (response == "InvalidError") {
                        // RdotAlerterrtxt("Invalid Image Formate Supported Formate .jpeg/.jpg/.png /.bmp");
                    }
                    else {
                        debugger;
                        tr.find("input[id^='hdnFilePathInput']").val(response);

                        tr.find(".fa-eye").attr("href", tr.find("input[id ^= 'hdnFilePathInput']").val());
                        tr.find(".fa-eye").attr("target", "_blank");
                        var k = tr.find("input[id ^= 'hdnFilePathInput']").val().split("/").length;
                        tr.find("#lblDocname").text(tr.find("input[id ^= 'hdnFilePathInput']").val().split("/")[parseInt(k) - 1]);

                        tr.find("input[id ^= 'FilePathInput']").attr("title",tr.find("input[id ^= 'hdnFilePathInput']").val().split("/")[parseInt(k) - 1]);


                        // $('input[name="Photo_imghdn"]').val('/Images/' + response);
                    }

                },
                error: function (er) {
                    RedDotAlert_Error(er);
                }
            });

        });


        $(document).on("click", "#IIst button[id^='btntblDel']", function () {
            debugger
            var count2 = parseInt($("#hdncount").val())
            var tr = $(this).closest("#IIst");
            var m = tr.find("input[id^='LineRefNo']").val();
            if (count2 == 1 || m==count2 ) {
                return
            }

            RedDot_Table_DeleteActivity(tr, tblDetails,".PVLines");
        })
    });
</script>