@model RDDStaffPortal.DAL.DataModels.Voucher.RDD_PV



@{
    var count = 1;
}

<div class="card-body smform-section">
    <div class="row">
        @Html.HiddenFor(m=>m.LastUpdatedBy)
        @Html.HiddenFor(m => m.PVId)
        @Html.HiddenFor(m => m.IsDraft)
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.Doc_Object)
        @Html.HiddenFor(m => m.EditFlag)
        @Html.Hidden(string.Concat("ViewMode"), true)
        <div class="col-md-6 col-lg-4">
            <div id="div-Country" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Country </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-DBName" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Database </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.DBName, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>


            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Ref No. </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.RefNo, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        @{var k = new SelectList(
                      new List<SelectListItem>
                      {
            new SelectListItem {Text = "Internal", Value = "Internal"},
            new SelectListItem {Text = "Vendor", Value = "Vendor"},
                      }, "Value", "Text");

        }
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Voucher Type </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.VType, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-VendorEmployee" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px" id="lblemp">Employee </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.VendorEmployee, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                    @Html.HiddenFor(m => m.VendorCode)
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-DocStatus" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Voucher Status </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.DocStatus, new { @class = "form-control form-control-sm", @disabled = "disabled" })

                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-Currency" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Currency </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.Currency, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-Benificiary" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Benificiary </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.Benificiary, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Payment Req. Date </label>
                <div class="col-md-8 p-0">
                    <div class="input-group">
                        @Html.TextBox(string.Concat("PayRequestDate", 1), count, new { @class = "form-control form-control-sm datepickerH", @disabled = "disabled" })
                        @Html.HiddenFor(m => m.PayRequestDate)
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-RequestedAmt" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Requested Amount </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.RequestedAmt, "{0:#,0.00}", new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-PayMethod" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Pay Method </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.PayMethod, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px" id="lblChequeImage">Pay Ref. Img. </label>
                <div class="col-md-7 p-0">
                    <div class="file-upload">
                        <div class="file-select">
                            <div class="file-select-button" id="fileName"><i class="fas fa-paperclip"></i> File</div>


                            @Html.HiddenFor(m => m.FilePath)

                        </div>

                    </div>

                </div>
                <div class="col-md-1 p-0">
                    <a id="FilePathview" class="fa fa-eye fa-2x"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-ApprovedAmt" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Approved Amount </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.ApprovedAmt, "{0:#,0.00}", new { @class = "form-control form-control-sm txtcheck txtmax", @data_val = "true", @data_val_length = "Approve Amt cannot be longer than 13 characters.", @data_val_length_max = "13", @readonly = "true" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-PayRefNo" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px" id="lblChequeNo">Pay Ref. No. </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.PayRefNo, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px" id="lblChequeDate">Pay Ref. Date. </label>
                <div class="col-md-8 p-0">
                    <div class="input-group">
                        @Html.TextBox(string.Concat("PayDate", 1), count, new { @class = "form-control form-control-sm datepickerH", @disabled = "disabled" })
                        @Html.HiddenFor(m => m.PayDate)
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">

        </div>
        <div class="col-md-6 col-lg-4">
            <div id="div-BankName" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Bank Name </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.BankName, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                    @Html.HiddenFor(m => m.BankCode)
                    @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4" id="Div1-Approval">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Approval Status </label>
                <div class="col-md-8 p-0">
                    @Html.TextBoxFor(m => m.ApprovalStatus, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <div id="div-BeingPayOf" class="form-group form-inline ">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Being Payment of </label>
                <div class="col-md-10 p-0">
                    @Html.TextBoxFor(m => m.BeingPayOf, new { @class = "form-control form-control-sm", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4" id="Div1-ApprovedBy">
            <div class="form-group form-inline">
                <label for="Database" class="col-md-1 col-form-label p-0 width120px">Approved By  </label>
                <div class="col-md-8 p-0">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.AprovedBy, new { @class = "form-control form-control-sm ", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.CreatedBy)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row creditlimit">

    <div class="col-sm-2">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Vendor Ageing Report</h5>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="table-responsive">
            <div class="quick-scroll scrollbar-inner">
                <div class="reddotTable sm-form mar-t0">
                    <div class="reddotTableBody">
                        <div class="reddotTableRow odd-even-row">
                            <div class="reddotTableHead"><div>Balance</div></div>
                            <div class="reddotTableHead"><div>0 - 30</div></div>
                            <div class="reddotTableHead"><div>31 - 45</div></div>
                            <div class="reddotTableHead"><div>46 - 60</div></div>
                            <div class="reddotTableHead"><div>61 - 90</div></div>
                            <div class="reddotTableHead"><div>91 - 120</div></div>
                            <div class="reddotTableHead"><div>121+</div></div>
                        </div>
                    </div>
                    <div id="IIIbody" class="reddotTableBody">
                        <div id="IIIst" class="reddotTableRow odd-even-row">
                            <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="txtbal" disabled></div></div>
                            <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="txt0" disabled></div></div>
                            <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="txt31" disabled></div></div>
                            <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="txt46" disabled></div></div>
                            <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="txt61" disabled></div></div>
                            <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="txt91" disabled></div></div>
                            <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" value="0" id="txt121" disabled></div></div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-md-11">
            <div class="reddotTable sm-form mar-t0">
                <div id="IInd" class="reddotTableBody">
                    <div class="reddotTableRow odd-even-row">
                        <div class="reddotTableHead width5per"><div>Sr. No.</div></div>
                        <div class="reddotTableHead width10per"><div>Date</div></div>
                        <div class="reddotTableHead width25per"><div>Description</div></div>
                        <div class="reddotTableHead width10per"><div>Amount</div></div>
                        <div class="reddotTableHead width25per"><div>Remarks</div></div>
                        <div class="reddotTableHead width15per"><div>View</div></div>
                        <div class="reddotTableHead width25per colHide"><div>Add Attechment</div></div>
                        <div class="reddotTableHead width25per colHide"><div>Action</div></div>
                    </div>
                </div>
                <div id="IIbody" class="reddotTableBody">

                    @if (Model.RDD_PVLinesDetails != null)
                    {


                        for (int i = 0; i < Model.RDD_PVLinesDetails.Count(); i++)
                        {
                            <div id="IIst" class="reddotTableRow odd-even-row PVLines">
                                <div class="reddotTableCell  Abcd">
                                    <div>
                                        @Html.TextBox(string.Concat("LineRefNo", count), count, new { @readonly = "readonly", @class = "form-control form-control-sm" })
                                        @Html.Hidden(string.Concat("PVLineId", count), Model.RDD_PVLinesDetails[count - 1].PVLineId.ToString())
                                    </div>
                                </div>
                                <div class="reddotTableCell Abcd">
                                    <div>
                                        @Html.TextBox(string.Concat("Date1", count), "", new { @readonly = "readonly", @class = "form-control form-control-sm datepicker" })
                                        @Html.Hidden(string.Concat("hdnDate1", count), Model.RDD_PVLinesDetails[count - 1].Date.ToString())
                                    </div>
                                </div>
                                <div class="reddotTableCell Abcd"> <div>@Html.TextBox(string.Concat("Description", count), Model.RDD_PVLinesDetails[count - 1].Description.ToString(), new { @readonly = "readonly", @class = "form-control form-control-sm" })</div> </div>
                                <div class="reddotTableCell Abcd"> <div> @Html.TextBox(string.Concat("Amount", count), Model.RDD_PVLinesDetails[count - 1].Amount.ToString("#,##0.00#"), new { @readonly = "readonly", @class = "form-control form-control-sm number" })</div> </div>
                                <div class="reddotTableCell Abcd"> <div> @Html.TextBox(string.Concat("Remarks", count), Model.RDD_PVLinesDetails[count - 1].Remarks.ToString(), new { @readonly = "readonly", @class = "form-control form-control-sm" })</div> </div>
                                <div class="reddotTableCell text-left Abcd"><div><a class="fas fa-eye fa-2x" href="" target="_blank"></a> <label id="lblDocname">Document Name</label>@Html.Hidden(string.Concat("hdnFileURLInput", count), "")</div></div>
                                <div class="reddotTableCell Abcd colHide">
                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="rowfileName"><i class="fas fa-paperclip"></i>  File</div>
                                            @Html.TextBox(string.Concat("FilePathInput", count), Model.RDD_PVLinesDetails[count - 1].FilePath.ToString(), new { @class = "file-select-name", type = "File", multiple = "multiple", @Title = "" })
                                            @Html.Hidden(string.Concat("hdnFilePathInput", count), Model.RDD_PVLinesDetails[count - 1].FilePath.ToString())
                                        </div>
                                    </div>
                                </div>

                                <div class='reddotTableCell colHide'><div><button type='button' title='' class='btn btn-danger delete btn-sm ibtnDel' data-original-title='Delete' id="btntblDel"> <i class='fas fa-trash'></i></button></div></div>

                            </div>
                            count++;
                        }


                    }

                    <div id="IIst" class="reddotTableRow odd-even-row PVLines colHide">
                        <div class="reddotTableCell Abcd"> <div>@Html.TextBox(string.Concat("LineRefNo", count), count, new { @readonly = "readonly", @class = "form-control form-control-sm" })</div> </div>
                        <div class="reddotTableCell Abcd"> <div>  @Html.TextBox(string.Concat("Date1", count), "", new { @class = "form-control form-control-sm datepicker" })</div> </div>
                        <div class="reddotTableCell Abcd"> <div>@Html.TextBox(string.Concat("Description", count), "", new { @class = "form-control form-control-sm" })</div> </div>
                        <div class="reddotTableCell Abcd"> <div> @Html.TextBox(string.Concat("Amount", count), "", new { @class = "form-control form-control-sm number" })</div> </div>
                        <div class="reddotTableCell Abcd"> <div> @Html.TextBox(string.Concat("Remarks", count), "", new { @class = "form-control form-control-sm" })</div> </div>
                        <div class="reddotTableCell text-left Abcd">
                            <div>

                                <a class="fas fa-eye"></a>
                                <label id="lblDocname">Document Name</label>
                                @Html.Hidden(string.Concat("hdnFileURLInput", count), "")

                            </div>
                        </div>
                        <div class="reddotTableCell  Abcd colHide">
                            <div>
                                @*<div class="file-upload">
                        <div class="file-select">
                            <div class="file-select-button" id="rowfileName"><i class="fas fa-paperclip"></i>  File</div>
                            <div class="file-select-name" id="rownoFile">No file chosen...</div>
                            <input type="file" name="chooseFile" id="rowchooseFile">
                        </div>
                    </div>*@
                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="rowfileName"><i class="fas fa-paperclip"></i>  File</div>
                                        @Html.TextBox(string.Concat("FilePathInput", count), "", new { @class = "file-select-name", type = "File", multiple = "multiple", @Title = "No file chosen...", @text = "No file chosen..." })
                                        @Html.Hidden(string.Concat("hdnFilePathInput", count), "")
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='reddotTableCell colHide'><div><button type='button' title='' class='btn btn-danger delete btn-sm ibtnDel' data-original-title='Delete' id='btntblDel'> <i class='fas fa-trash'></i></button></div></div>
                    </div>



                </div>
                @Html.Hidden(string.Concat("hdncount"), count)
            </div>


        </div>


    </div>
    <div class="row">
        <br />
        <br />
    </div>
</div>

<div class="modal fade" id="DocumentviewPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Document View</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body padd-b0">
                <iframe src="">
                </iframe>
            </div>

        </div>
    </div>
</div>
<div id="Divid"></div>

<!-- DateTimePicker -->





<script src="~/Scripts/Application/OperationPV.js"></script>

<script>
    $(document).ready(function () {
        $(".loader1").show();
        debugger
       OperationPV.initialize();
        $(".loader1").hide();

    });
</script>

