@model RDDStaffPortal.DAL.DataModels.PerformanceEvaluation.RDD_EmployeeRating

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<link href="~/Content/extra-style.css" rel="stylesheet" />
<style>
    .btnupld{
        border-radius:4px;
        padding:6px 14px;
    }
</style>
<input type="hidden" id="hdnRatingNo" />
<input type="hidden" id="hdnCategoryId" />
<input type="hidden" id="hdnEmployeeId" />
<input type="hidden" id="hdnAppraisalId" />
<input type="hidden" id="hdnCatSlno"/>

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title redtitle">Employee Rating</h4>
                                <div class="form-group ml-auto">
                                    <label>Period-Year</label>
                                    <select id="ddlSelectYear" class="form-control">
                                        <option value="-1">---Select---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mx-3 mt-3">
                                <div class="col-1">
                                    <img src="data:image;base64,@HttpContext.Current.Session["LoginName"]" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="col-11 p-0">
                                    <h2 id="headEmpName"></h2>
                                    <div class="row">
                                        <div class="col-3 p-0 emp" style="font-size:16px" id="divDepartment"> </div>
                                        <div class="col-3 p-0 emp" style="font-size:16px" id="divCountry"> </div>
                                        <div class="col-3 p-0 emp" style="font-size:16px" id="divYear"> </div>
                                        <div class="col-3 p-0 emp" style="font-size:16px" id="divPeriod"> </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="loader1"></div>
                        <div class="card-body">
                            <section>
                                <ul class="nav nav-tabs" id="myTab" role="tablist"></ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="table-responsive tblscroll">
                                            <table id="add-row" class="display table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width:340px;">Question </th>
                                                        <th style="width:160px;">Employee Rating </th>
                                                        <th style="width:200px;">Employee Comment </th>
                                                        <th style="width:160px;">Manager Rating </th>
                                                        <th style="width:200px;">Manager Comment </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="6" style="text-align:center">Please Wait...</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="modal-footer" id="divBtnSave">
                                                <button type="button" class="btn btn-primary" id="btnSaveRating">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-10 col-lg-10 flexinherit">
                                <div class="form-group form-inline">
                                    <label for="comment">Attachments:</label>
                                    <div class="col-md-4 p-1" style="top: 8px;">
                                        <div class="custom-file">
                                            @Html.TextBoxFor(m => m.AttachmentUrl, new { @class = "file-select-name", type = "File", multiple = "multiple", @Title = "No file chosen...", @text = "No file chosen..." })

                                            @Html.HiddenFor(m => m.AttachmentUrl)
                                        </div>
                                    </div>
                                    <div class="col-md-1 pl-1" style="float:left">
                                        <button type="button" id="btnPdfUpload" class="btn btn-primary btnupld">Upload</button>
                                    </div>
                                    <div class="col-md-1 pl-1" style="float:left">
                                        @*<a href="#" id="btnDownloadSignedPdf">Download Signed PDF</a>*@
                                        <button type="button" id="btnDownloadSignedPdf" class="btn btn-primary btnupld">Download Signed PDF</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" id="btnFinalSubmit" onclick="SaveFinalForm();">Final Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/RedDotUtility.js"></script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
<script type="text/javascript">
    $(document).on('click', '#btnDownloadSignedPdf', function () {
        var Periods = $("#ddlSelectYear option:selected").val();
        window.location.href = "/PerformanceEvaluation/EmployeeRating/DownloadPDF?Periods=" + Periods + "";
    });
    function GetEmployeeDetails() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetEmployeeDetails", "EmployeeRating")',
            dataType: "json",
            success: function (data) {
                debugger
                $("#ddlSelectYear").empty();
                $("#ddlSelectYear").append('<option value="-1">--Select--</option>');
                if (data.Table8.length > 0) {
                    $.each(data.Table8, function (index, value) {
                        $("#ddlSelectYear").append('<option value="' + value.AllYear + '">' + value.AllYear + '</option>');
                    });
                    if (data.Table9.length > 0) {
                        $("#ddlSelectYear").val(data.Table9[0].CurrentYears);
                    }
                }

                if (data.Table7.length > 0) {
                    var SaveStatus = data.Table7[0].Emp_FinalSubmissionStatus;
                }
                $("#headEmpName").empty();
                var str = "";
                str += data.Table[0].EmployeeName;
                str += '<span class="badge badge-danger mb-1 ml-2"><b>' + data.Table[0].DesigName + '</b></span>';
                //if (data.Table11.length > 0) {
                //    str += '<span id="spanrating"><span class="badge badge-warning mb-1 ml-2" data-toggle="popover" title="Manager Rating: ' + data.Table11[0].ManagerAvgRating + '"><b>' + data.Table10[0].EmployeeAvgRating + '</b><i class="fa fa-star ml-1" aria-hidden="true"></i></span></span>';
                //}

                $("#headEmpName").append(str);
                $('.emp').empty();
                $("#divDepartment").append('<i class="fas fa-building mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table[0].DeptName);
                $("#divCountry").append('<i class="fa fa-flag mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table[0].Country);
                if (data.Table1.length>0) {
                    $("#divYear").append('<i class="fa fa-calendar-alt mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table1[0].Years);
                }
                if (data.Table2.length > 0) {
                    $("#divPeriod").append('<i class="fas fa-calendar-minus mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table2[0].Period);
                }
                $("#hdnEmployeeId").val(data.Table[0].EmployeeId);
                if (data.Table3.length > 0) {
                    $("#hdnCategoryId").val(data.Table3[0].CategoryId);
                }

                $("#myTab").empty();
                var srno = 0;
                $.each(data.Table3, function (Index, Value) {
                    var str1 = "";
                    str1 += '<li class="nav-item waves-effect waves-light"><a class="nav-link selectCategory" id="home-' + Value.CategoryName + '" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false" slno="'+srno+'" data="' + Value.CategoryId + '">' + Value.CategoryName + '</a></li >';
                    $("#myTab").append(str1);
                    srno++;
                });
                $("#myTab li:eq(0) a").tab('show');
                $("#hdnCatSlno").val("0");
                if (data.Table5.length > 0) {
                    var RatingNo = data.Table5[0].RatingNo;
                }

                $("#hdnRatingNo").val(RatingNo);
                var str2 = "";
                var QuestionCount = data.Table4.length;
                var j = 1;
                $("#add-row tbody").empty();
                if (data.Table6.length > 0) {
                    $("#hdnAppraisalId").val(data.Table6[0].AppraisalId);
                    while (j <= QuestionCount) {
                        $.each(data.Table6, function (Index, Value) {
                            str2 += '<tr>';
                            str2 += '<td style="display:none;"><input type="hidden" id="hdnstarval_' + Value.QuestionTransId + '" value=""/> </td>';
                            str2 += '<td style="display:none;">' + Value.QuestionTransId + '</td>';
                            str2 += '<td>' + Value.Question + '</td>';
                            str2 += '<td><div class="stars"><form action="">';
                            if (Value.IsRatingApplicable == true) {
                                for (var i = RatingNo; i > 0; i--) {
                                    if (Value.EmployeeRating == i) {
                                        str2 += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" checked="checked"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                    }
                                    else {
                                        str2 += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                    }
                                }
                            }
                            else {
                                //for (var i = RatingNo; i > 0; i--) {
                                //    str2 += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" disabled="disabled"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                //}
                                str2 += '<label class="strtxt">Rating Not Applicable</label>';
                            }

                            str2 += '</form></div></td>';
                            if (Value.EmployeeComment == null) {
                                Value.EmployeeComment = "";
                            }
                            str2 += '<td><textarea id="" name="" rows="5" cols="5" placeholder="" class="dis textarea-style empcomnt">' + Value.EmployeeComment + '</textarea></td>';
                            str2 += '<td style="display:none">' + Value.EmployeeRating + '</td>';
                            str2 += '<td style="display:none"></td>';
                            str2 += '<td><div class="stars"><form action="">';
                            if (Value.IsRatingApplicable == true) {
                                for (var k = RatingNo; k > 0; k--) {
                                    if (data.Table10[0].Mng_FinalSubmissionStatus == true) {
                                        if (Value.ManagerRating == k) {
                                            str2 += '<input class="distar star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" checked="checked"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                        }
                                        else {
                                            str2 += '<input class="distar star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                        }
                                    }
                                    else {
                                        str2 += '<input class="distar star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                    }
                                }
                            }
                            else {
                                str2 += '<label>Rating Not Applicable</label>';
                            }
                            str2 += '</form></div></td>';
                            if (data.Table10[0].Mng_FinalSubmissionStatus == true) {
                                str2 += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed">'+Value.ManagerComment+'</textarea></td>';
                            }
                            else {
                                str2 += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed"></textarea></td>';
                            }
                            str2 += '</tr>';
                            j++;
                        });
                    }
                    $("#btnSaveRating").text("Update");
                    $("#btnSaveRating").attr("id", "btnUpdateRating");
                    $("#divBtnSave").show();
                }
                else {
                    if (data.Table4.length > 0) {
                        while (j <= QuestionCount) {
                            $.each(data.Table4, function (Index, Value) {
                                str2 += '<tr>';
                                str2 += '<td style="display:none;"><input type="hidden" id="hdnstarval_' + Value.QuestionTransId + '" /> </td>';
                                str2 += '<td style="display:none;">' + Value.QuestionTransId + '</td>';
                                str2 += '<td>' + Value.Question + '</td>';
                                str2 += '<td><div class="stars"><form action="">';
                                var i = "";
                                if (Value.IsRatingApplicable == true) {
                                    for (i = RatingNo; i > 0; i--) {
                                        str2 += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                    }
                                }
                                else {
                                    //for (i = RatingNo; i > 0; i--) {
                                    //    str2 += '<input class="star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" disabled="disabled"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                    //}
                                    str2 += '<label class="strtxt">Rating Not Applicable</label>';
                                }
                                str2 += '</form></div></td>';
                                //str2 += '<td><div class="stars"><form action=""><input class="star star-5" id="star-5" type="radio" name="star" /> <label class="star star-5" for="star-5"></label></form></div>';
                                str2 += '<td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style empcomnt"></textarea></td>';
                                str2 += '<td style="display:none"></td>';
                                str2 += '<td><div class="stars"><form action="">';
                                if (Value.IsRatingApplicable == true) {
                                    for (var k = RatingNo; k > 0; k--) {
                                        str2 += '<input class="distar star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                    }
                                }
                                else {
                                    str2 += '<label>Rating Not Applicable</label>';
                                }
                                str2 += '</form></div></td>';
                                str2 += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed"></textarea></td>';
                                str2 += '</tr>';
                                j++;

                            });
                        }
                        $("#divBtnSave").show();
                        $("#btnFinalSubmit").show();
                    }
                    else {
                        $("#divBtnSave").hide();
                        $("#btnFinalSubmit").hide();
                        str2 += '<tr>';
                        str2 += '<td colspan="6" style="text-align:center">HR Not Launched Appraisal For This Period</td>';
                        str2 += '</tr>';
                    }
                }

                $("#add-row tbody").append(str2);
                $('.distar').attr("disabled", "disabled");
                if (data.Table11.length > 0) {
                    var CloseAppraisalStatus = data.Table11[0].IsAppraisalClosedByHR;
                    //alert(CloseAppraisalStatus);
                }
                if (SaveStatus == true || CloseAppraisalStatus == true) {
                    $('.dis').prop("disabled", true);
                    $('.dis').css("cursor", "not-allowed");
                    //$("#btnUpdateRating").remove();
                    $("#divBtnSave").hide();
                    $("#btnFinalSubmit").prop("disabled", "disabled");
                    $('#btnFinalSubmit').css("cursor", "not-allowed");
                    $('.empcomnt').prop("disabled", true);
                    $('.empcomnt').css("cursor", "not-allowed");
                    $("#btnSaveRating").attr("hidden", "hidden");
                }
                else {
                    $('.dis').prop("disabled", false);
                    $('.dis').css("cursor", "");
                    $("#btnFinalSubmit").prop("disabled", "disabled");
                    $("#btnFinalSubmit").removeAttr("disabled", "disabled");
                    $('#btnFinalSubmit').css("cursor", "");
                    $("#btnSaveRating").removeAttr("hidden", "hidden");
                }
                if (CloseAppraisalStatus == true || SaveStatus != true ) {
                    $("#AttachmentUrl").attr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "not-allowed");
                    $("#btnPdfUpload").attr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "not-allowed");
                }
                else {
                    $("#AttachmentUrl").removeAttr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "");
                    $("#btnPdfUpload").removeAttr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "");
                }
                
                if (data.Table12[0].FileCount > 0) {
                    $("#AttachmentUrl").attr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "not-allowed");
                    $("#btnPdfUpload").attr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "not-allowed");
                    $("#btnDownloadSignedPdf").removeAttr("disabled", "disabled");
                    $("#btnDownloadSignedPdf").css("cursor", "");                    
                }
                else if (CloseAppraisalStatus == true || SaveStatus != true) {
                    $("#AttachmentUrl").attr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "not-allowed");
                    $("#btnPdfUpload").attr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "not-allowed");
                    $("#btnDownloadSignedPdf").attr("disabled", "disabled");
                    $("#btnDownloadSignedPdf").css("cursor", "not-allowed");
                }
                else {
                    $("#AttachmentUrl").removeAttr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "");
                    $("#btnPdfUpload").removeAttr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "");
                    $("#btnDownloadSignedPdf").attr("disabled", "disabled");
                    $("#btnDownloadSignedPdf").css("cursor", "not-allowed");
                }
                $('.loader1').hide();
            }
        });
    }

    function SaveEmpRating(rDD_EmpAppraisal) {
        $('.loader1').show();
        var rDD_EmpAppraisal = rDD_EmpAppraisal;
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveEmployeeRating", "EmployeeRating")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ rDD_EmpAppraisal: rDD_EmpAppraisal }),
            dataType: "json",
            success: function (data) {
                debugger
                $('.loader1').hide();
                if (data[0].Outtf == true) {
                    RedDotAlert_Success(data[0].Responsemsg);
                    //GetCategoryWiseEmployeeDetails();
                    GetEmployeeDetails();
                }
                else {
                    RedDotAlert_Error(data[0].Responsemsg);
                }
            }
        });
    }

    function SaveFinalForm() {
        //$('.loader1').show();
        var EmployeeId = $.trim($("#hdnEmployeeId").val());
        var Year= $.trim($("#divYear").text());
        var Period = $.trim($("#divPeriod").text());
        const swalWithBootstrapButtons = Swal.mixin({
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false,
        })
        swalWithBootstrapButtons.fire({
            title: 'Have you answered all the questions of all categories?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Submit it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            $('.loader1').show();
            if (result.value) {
                $.getJSON("/FinalSaveEmployeeRating", { "EmployeeId": EmployeeId, "Year": Year,"Period":Period }).done(function (data) {
                    $('.loader1').hide();
                    if (data[0].Outtf == true) {
                        RedDotAlert_Success(data[0].Responsemsg);
                        GetEmployeeDetails();
                    }
                    else {
                        RedDotAlert_Error(data[0].Responsemsg);
                    }
                });
            }
            else if (
                // Read more about handling dismissals
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your Record  is safe :)',
                    'error'
                )
            }
            $('.loader1').hide();
        });
    }
        
    $("#AttachmentUrl").on("change", function () {
        var data = new FormData();
        var files = $("input[id = 'AttachmentUrl']").get(0).files;
        var val = $(this).val();
        switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
            case 'gif': case 'jpg': case 'png': case 'pdf':
                break;
            default:
                $(this).val('');
                $("input[id='AttachmentUrl'][type='hidden']").val('');
                // error message here
                RedDotAlert_Error("Upload only pdf");
                return;
                break;
        }
        if (files.length > 0) {
            data.append("Files", files[0]);
        }

        $.ajax({
            url: '@Url.Action("UploadPDF", "EmployeeRating")',
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                if (response.indexOf("Error occurred") == 0) {
                    $("input[id='AttachmentUrl'][type='hidden']").val('');
                    RedDotAlert_Error(response);
                }
                else {
                    $("input[id='AttachmentUrl'][type='hidden']").val(response);
                    //alert(response);
                }
            },
            error: function (er) {
                RedDotAlert_Error(er);
            }
        });
    });

    $(document).on('click', '#btnPdfUpload', function () {        
        var valrrr = $("#AttachmentUrl[type='hidden']").val();       
        if (valrrr == "") {
            RedDotAlert_Error("Please upload signed pdf");
            return false;
        }
        var rDD_AppraisalPdfUpload = {
            AttachmentUrl: $("#AttachmentUrl[type='hidden']").val(),
            EmployeeId: $.trim($("#hdnEmployeeId").val()),
            Year: $.trim($("#divYear").text()),
            Period: $.trim($("#divPeriod").text())
        };
        $('.loader1').show();
        //var rDD_EmpAppraisal = rDD_EmpAppraisal;
        $.ajax({
            type: "POST",
            url: '@Url.Action("SavePdf", "EmployeeRating")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ rDD_AppraisalPdfUpload: rDD_AppraisalPdfUpload }),
            dataType: "json",
            success: function (data) {
                debugger
                $('.loader1').hide();
                if (data[0].Outtf == true) {
                    RedDotAlert_Success(data[0].Responsemsg);                    
                    GetEmployeeDetails();                  
                    
                }
                else {
                    RedDotAlert_Error(data[0].Responsemsg);
                }
            }
        });

    });
    $(document).on('click', '.starlbl', function () {
        var QNo = $(this).attr('data-qno');
        var StarNo = $(this).attr('data-starno');
        $('#hdnstarval_' + QNo).val(StarNo);
        $(this).closest("tr").find("td:eq(5)").html(StarNo);
    });

    $(document).ready(function () {
        $('.loader1').show();
        $("#divBtnSave").hide();
        GetEmployeeDetails();


        //$(document).on('click', '#', function () {
        //    if ($("#btnSaveRating").text() == "Save") {
        //        RedDotAlert_Error("Plese save atlest one rating and comment");
        //        return false;
        //    }
        //});
        function Tab_Activity_Hide_Show(tabid, ids) {
            $("[data-toggle='tab'].show").removeClass('show active');
            $(".tab-pane.show").removeClass('show active');
            $(tabid).addClass('show active');
            $(ids).addClass('active show');
        }
        $(document).on('click', '.selectCategory', function (e) {
            var slno = $(this).attr("slno");
            var prevcatslno = $("#hdnCatSlno").val();
            
            if ($("#btnSaveRating").text() == "Save") {               
                e.preventDefault();
                //Save clicked element to variable
                var clickedTab = $(this).attr("id");
                //Remove class from old tab
                $(this).parent().find('.active').removeClass("active show");
                //Add Active class to clicked tab
                $(this).addClass('active show');

                //Hide all Tab elements
                $("[id^='home']").removeClass("active show");

                //Show clicked Tab
                //$('#' + clickedTab + '-content').show();
                $("#myTab li").eq(prevcatslno).addClass('active show');
                RedDotAlert_Error("Please save atlest one rating and comment");                
            }
            else {
                $("#hdnCatSlno").val(slno);
                $("#divBtnSave").hide();
                var CategoryId = $(this).attr("data");
                var Qperiod = $("#ddlSelectYear option:selected").val();
                $("#hdnCategoryId").val(CategoryId);
                $("#add-row tbody").empty();
                $("#add-row tbody").append('<tr><td colspan="6" style="text-align:center">Please Wait....</td></tr>');
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetQuestionList", "EmployeeRating")',
                    data: { "CategoryId": CategoryId, "Qperiod": Qperiod },
                    dataType: "json",
                    success: function (data) {
                        debugger
                        var d = data.Table;
                        var RatingNo = $("#hdnRatingNo").val();
                        var str = "";
                        var Count = 0;
                        var QuestionCount = d.length;
                        var j = 1;
                        $("#add-row tbody").empty();
                        if (data.Table1.length > 0) {
                            $("#hdnAppraisalId").val(data.Table1[0].AppraisalId);
                            while (j <= QuestionCount) {
                                $.each(data.Table1, function (Index, Value) {
                                    str += '<tr>';
                                    str += '<td style="display:none;"><input type="hidden" id="hdnstarval_' + Value.QuestionTransId + '"/> </td>';
                                    str += '<td style="display:none" class="qid">' + Value.QuestionTransId + '</td>';
                                    str += '<td>' + Value.Question + '</td>';
                                    str += '<td><div class="stars"><form action="">';
                                    if (Value.IsRatingApplicable == true) {
                                        for (var i = RatingNo; i > 0; i--) {
                                            if (Value.EmployeeRating == i) {
                                                str += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" checked="checked"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                            }
                                            else {
                                                str += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                            }
                                        }
                                    }
                                    else {
                                        //for (var i = RatingNo; i > 0; i--) {
                                        //    str += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" disabled="disabled"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                        //}
                                        str += '<label class="strtxt">Rating Not Applicable</label>';
                                    }

                                    str += '</form></div></td>';
                                    if (Value.EmployeeComment == null) {
                                        Value.EmployeeComment = "";
                                    }
                                    str += '<td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style empcomnt dis">' + Value.EmployeeComment + '</textarea></td>';
                                    str += '<td style="display:none">' + Value.EmployeeRating + '</td>';
                                    str += '<td style="display:none"></td>';
                                    str += '<td><div class="stars"><form action="">';
                                    if (Value.IsRatingApplicable == true) {
                                        for (var k = RatingNo; k > 0; k--) {
                                            if (data.Table3[0].Mng_FinalSubmissionStatus == true) {
                                                if (Value.ManagerRating == k) {
                                                    str += '<input class="distars star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" checked="checked"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                                }
                                                else {
                                                    str += '<input class="distars star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                                }
                                            }
                                            else {
                                                str += '<input class="distars star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                            }

                                        }
                                    }
                                    else {
                                        str += '<label>Rating Not Applicable</label>';
                                    }
                                    str += '</form></div></td>';
                                    if (data.Table3[0].Mng_FinalSubmissionStatus == true) {
                                        str += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed">' + Value.ManagerComment + '</textarea></td>';
                                    }
                                    else {
                                        str += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed"></textarea></td>';
                                    }
                                    //str += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed"></textarea></td>';
                                    str += '</tr>';
                                    j++;
                                });
                            }
                            $("#btnSaveRating").text("Update");
                            $("#btnSaveRating").attr("id", "btnUpdateRating");
                            $("#divBtnSave").show();
                        }
                        else {
                            if (d.length > 0) {
                                while (j <= QuestionCount) {
                                    $.each(d, function (Index, Value) {
                                        str += '<tr>';
                                        str += '<td style="display:none;"><input type="hidden" id="hdnstarval_' + Value.QuestionTransId + '" /> </td>';
                                        str += '<td style="display:none" class="qid">' + Value.QuestionTransId + '</td>';
                                        str += '<td>' + Value.Question + '</td>';
                                        str += '<td><div class="stars"><form action="">';
                                        var i = "";
                                        if (Value.IsRatingApplicable == true) {
                                            //$('.starrate_' + j).prop("disabled", false);
                                            for (i = RatingNo; i > 0; i--) {
                                                str += '<input class="starrate_' + j + ' dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                            }
                                        }
                                        else {
                                            //$('.starrate_' + j).prop("disabled", true);
                                            //for (i = RatingNo; i > 0; i--) {
                                            //    str += '<input class="starrate_' + j + ' dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" disabled="disabled"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                            //}
                                            str += '<label class="strtxt">Rating Not Applicable</label>';
                                        }

                                        str += '</form></div></td>';
                                        str += '<td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style empcomnt dis"></textarea></td>';
                                        str += '<td style="display:none"></td>';
                                        str += '<td><div class="stars"><form action="" disabled="disabled">';
                                        if (Value.IsRatingApplicable == true) {
                                            for (var k = RatingNo; k > 0; k--) {
                                                str += '<input class="distars star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                            }
                                        }
                                        else {
                                            str += '<label>Rating Not Applicable</label>';
                                        }
                                        str += '</form></div></td>';
                                        str += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed"></textarea></td>';
                                        str += '</tr>';

                                        j++;
                                    });
                                }
                                $("#btnUpdateRating").text("Save");
                                $("#btnUpdateRating").attr("id", "btnSaveRating");
                                $("#divBtnSave").show();
                            }
                            else {
                                str += '<tr>';
                                str += '<td colspan="6" style="text-align:center">HR Not Launched Appraisal For This Period</td>';
                                str += '</tr>';
                                $("#divBtnSave").hide();
                            }
                        }
                        $("#add-row tbody").append(str);
                        $('.distars').attr("disabled", "disabled");
                        if (data.Table2.length > 0) {
                            var SaveStatus = data.Table2[0].Emp_FinalSubmissionStatus;
                        }
                        if (SaveStatus == true) {
                            $('.dis').attr("disabled", true);
                            $('.dis').css("cursor", "not-allowed");
                            $("#divBtnSave").hide();
                        }
                        //else {
                        //    $('.dis').attr("disabled", false);
                        //    $('.dis').css("cursor", "");
                        //}
                    }
                });
            }
        });
    });
    $(document).on('click', '#btnSaveRating', function () {
        var rDD_EmpAppraisal = {
            CategoryId: $.trim($("#hdnCategoryId").val()),
            EmployeeId: $.trim($("#hdnEmployeeId").val()),
            Year: $.trim($("#divYear").text()),
            Period: $.trim($("#divPeriod").text()),
            rDD_EmpAppraisalList:[]
        };
        $("#add-row tbody tr").each(function () {
            var QuestionId = $(this).closest("tr").find("td:eq(1)").text();
            var EmpRating = $('#hdnstarval_' + QuestionId).val();
            var EmpComment = $.trim($(".empcomnt", this).val());
            var rDD_EmpAppraisalList = {
                QuestionId: QuestionId,
                EmployeeRating: EmpRating,
                EmployeeComment: EmpComment,
                EmpRatingText: $('.strtxt').text()
            };
            rDD_EmpAppraisal.rDD_EmpAppraisalList.push(rDD_EmpAppraisalList);
        });
        var i = 0;
        var length = rDD_EmpAppraisal.rDD_EmpAppraisalList.length;
        while (i < length) {
            if (rDD_EmpAppraisal.rDD_EmpAppraisalList[0].EmployeeComment == "" || (rDD_EmpAppraisal.rDD_EmpAppraisalList[0].EmployeeRating == "" && rDD_EmpAppraisal.rDD_EmpAppraisalList[0].EmpRatingText == "")) {
                RedDotAlert_Error("Please comment for at least one question and it's corresponding rating(If Rating Applicable)");
                i++;
            }
            else {
                SaveEmpRating(rDD_EmpAppraisal);
                return false;
            }

        }

    });
    $(document).on('click', '#btnUpdateRating', function () {
        var rDD_EmpAppraisal = {
            CategoryId: $.trim($("#hdnCategoryId").val()),
            EmployeeId: $.trim($("#hdnEmployeeId").val()),
            Year: $.trim($("#divYear").text()),
            Period: $.trim($("#divPeriod").text()),
            AppraisalId: $.trim($("#hdnAppraisalId").val()),
            EditFlag: true,
            rDD_EmpAppraisalList: []
        };
        $("#add-row tbody tr").each(function () {
            var QuestionId = $(this).closest("tr").find("td:eq(1)").text();
            var EmpRating = $(this).closest("tr").find("td:eq(5)").html();
            var EmpComment = $.trim($(".empcomnt", this).val());
            var rDD_EmpAppraisalList = {
                QuestionId: QuestionId,
                EmployeeRating: EmpRating,
                EmployeeComment: EmpComment,
                EmpRatingText: $('.strtxt').text()
            };
            rDD_EmpAppraisal.rDD_EmpAppraisalList.push(rDD_EmpAppraisalList);
        });
        var i = 0;
        var length = rDD_EmpAppraisal.rDD_EmpAppraisalList.length;
        //while (i < length) {
        //    if (rDD_EmpAppraisal.rDD_EmpAppraisalList[0].EmployeeComment == "") {
        //        i++;
        //    }
        //    else {
        //        SaveEmpRating(rDD_EmpAppraisal);
        //        return false;
        //    }
        //    RedDotAlert_Error("Please Fill At Least One Rating And Comments")
        //}
        //SaveEmpRating(rDD_EmpAppraisal);
        while (i < length) {
            if (rDD_EmpAppraisal.rDD_EmpAppraisalList[0].EmployeeComment == "" || (rDD_EmpAppraisal.rDD_EmpAppraisalList[0].EmployeeRating == "0" && rDD_EmpAppraisal.rDD_EmpAppraisalList[0].EmpRatingText == "")) {
                RedDotAlert_Error("Please comment for at least one question and it's corresponding rating(If Rating Applicable)");
                i++;
            }
            else {
                SaveEmpRating(rDD_EmpAppraisal);
                return false;
            }

        }
        //if (rDD_EmpAppraisal.rDD_EmpAppraisalList[0].EmployeeComment == "") {
        //    RedDotAlert_Error("Please Comment For First Question At Least");
        //}
        //else {
        //    SaveEmpRating(rDD_EmpAppraisal);
        //    return false;
        //}
    });
    $(document).on('change', '#ddlSelectYear', function () {
        $('.loader1').show();
        var Qperiod = $(this).val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetailsByYearAndPeriod","EmployeeRating")',
            data: { "Qperiod": Qperiod },
            dataType: "json",
            success: function (data) {
                debugger
                $("#spanrating").empty();
                if (data.Table9.length > 0) {
                    $("#spanrating").append('<span class="badge badge-warning mb-1 ml-2" data-toggle="popover" title="Manager Rating: ' + data.Table10[0].ManagerAvgRating + '"><b>' + data.Table9[0].EmployeeAvgRating + '</b><i class="fa fa-star ml-1" aria-hidden="true"></i></span>');
                }

                if (data.Table6.length > 0) {
                    var SaveStatus = data.Table6[0].Emp_FinalSubmissionStatus;
                }

                $("#divYear").empty();
                $("#divPeriod").empty();
                $("#divYear").append('<i class="fa fa-calendar-alt mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table[0].Years);
                $("#divPeriod").append('<i class="fas fa-calendar-minus mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table1[0].Period);
                //$("#hdnEmployeeId").val(data.Table[0].EmployeeId);
                if (data.Table2.length > 0) {
                    $("#hdnCategoryId").val(data.Table2[0].CategoryId);
                }

                $("#myTab").empty();
                var srno = 0;
                $.each(data.Table2, function (Index, Value) {
                    var str1 = "";
                    str1 += '<li class="nav-item waves-effect waves-light"><a class="nav-link selectCategory" id="home-' + Value.CategoryName + '" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false" slno="' + srno + '" data="' + Value.CategoryId + '">' + Value.CategoryName + '</a></li >';
                    $("#myTab").append(str1);
                    srno++;
                });
                $("#myTab li:eq(0) a").tab('show');
                $("#hdnCatSlno").val("0");
                var RatingNo = data.Table4[0].RatingNo;
                $("#hdnRatingNo").val(RatingNo);
                var str2 = "";
                var QuestionCount = data.Table3.length;
                var j = 1;
                $("#add-row tbody").empty();
                if (data.Table5.length > 0) {
                    $("#hdnAppraisalId").val(data.Table6[0].AppraisalId);
                    while (j <= QuestionCount) {
                        $.each(data.Table5, function (Index, Value) {
                            str2 += '<tr>';
                            str2 += '<td style="display:none;"><input type="hidden" id="hdnstarval_' + Value.QuestionTransId + '" value=""/> </td>';
                            str2 += '<td style="display:none;">' + Value.QuestionTransId + '</td>';
                            str2 += '<td>' + Value.Question + '</td>';
                            str2 += '<td><div class="stars"><form action="">';
                            if (Value.IsRatingApplicable == true) {
                                for (var i = RatingNo; i > 0; i--) {
                                    if (Value.EmployeeRating == i) {
                                        str2 += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" checked="checked"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                    }
                                    else {
                                        str2 += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                    }
                                }
                            }
                            else {
                                //for (var i = RatingNo; i > 0; i--) {
                                //    str2 += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" disabled="disabled"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                //}
                                str2 += '<label class="strtxt">Rating Not Applicable</label>';
                            }

                            str2 += '</form></div></td>';
                            if (Value.EmployeeComment == null) {
                                Value.EmployeeComment = "";
                            }
                            str2 += '<td><textarea id="" name="" rows="5" cols="5" placeholder="" class="dis textarea-style empcomnt">' + Value.EmployeeComment + '</textarea></td>';
                            str2 += '<td style="display:none">' + Value.EmployeeRating + '</td>';
                            str2 += '<td style="display:none"></td>';
                            str2 += '<td><div class="stars"><form action="">';
                            if (Value.IsRatingApplicable == true) {
                                for (var k = RatingNo; k > 0; k--) {
                                    if (data.Table9[0].Mng_FinalSubmissionStatus == true) {
                                        if (Value.ManagerRating == k) {
                                            str2 += '<input class="distar star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" checked="checked"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                        }
                                        else {
                                            str2 += '<input class="distar star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                        }
                                    }
                                    else {
                                        str2 += '<input class="distar star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                    }
                                }
                            }
                            else {
                                str2 += '<label class="strtxt">Rating Not Applicable</label>';
                            }
                            str2 += '</form></div></td>';
                            if (data.Table9[0].Mng_FinalSubmissionStatus == true) {
                                str2 += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed">' + Value.ManagerComment + '</textarea></td>';
                            }
                            else {
                                str2 += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed"></textarea></td>';
                            }

                            str2 += '</tr>';
                            j++;
                        });
                    }
                    $("#btnSaveRating").text("Update");
                    $("#btnSaveRating").attr("id", "btnUpdateRating");
                    $("#divBtnSave").show();
                    $("#btnFinalSubmit").show();
                }
                else {
                    if (data.Table3.length > 0) {
                        while (j <= QuestionCount) {
                            $.each(data.Table3, function (Index, Value) {
                                str2 += '<tr>';
                                str2 += '<td style="display:none;"><input type="hidden" id="hdnstarval_' + Value.QuestionTransId + '" /> </td>';
                                str2 += '<td style="display:none;">' + Value.QuestionTransId + '</td>';
                                str2 += '<td>' + Value.Question + '</td>';
                                str2 += '<td><div class="stars"><form action="">';
                                var i = "";
                                if (Value.IsRatingApplicable == true) {
                                    for (var i = RatingNo; i > 0; i--) {
                                        str2 += '<input class="dis star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                    }
                                }
                                else {
                                    //for (var i = RatingNo; i > 0; i--) {
                                    //    str2 += '<input class="star star-' + i + '-' + j + '" id="star-' + i + '-' + j + '" type="radio" name="star" disabled="disabled"/> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + i + ' class="starlbl star star-' + i + '-' + j + '" for="star-' + i + '-' + j + '"></label>';
                                    //}
                                    str2 += '<label class="strtxt">Rating Not Applicable</label>';
                                }

                                str2 += '</form></div></td>';
                                //str2 += '<td><div class="stars"><form action=""><input class="star star-5" id="star-5" type="radio" name="star" /> <label class="star star-5" for="star-5"></label></form></div>';
                                str2 += '<td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style empcomnt"></textarea></td>';
                                str2 += '<td style="display:none"></td>';
                                str2 += '<td><div class="stars"><form action="">';
                                if (Value.IsRatingApplicable == true) {
                                    for (var k = RatingNo; k > 0; k--) {
                                        str2 += '<input class="distar star star-' + k + '-' + j + '" id="stare-' + k + '-' + j + '" type="radio" name="star" /> <label data-qno=' + Value.QuestionTransId + ' data-starno=' + k + ' class="star star-' + k + '-' + j + '" for="stare-' + k + '-' + j + '"></label>';
                                    }
                                }
                                else {
                                    str2 += '<label>Rating Not Applicable</label>';
                                }
                                str2 += '</form></div></td>';
                                str2 += '<td><textarea rows="5" cols="5" class="textarea-style mngcomnt" disabled="disabled" style="cursor:not-allowed"></textarea></td>';
                                str2 += '</tr>';
                                j++;

                            });
                        }
                        $("#divBtnSave").show();
                        $("#btnFinalSubmit").show();
                        $("#btnUpdateRating").text("Save");
                        $("#btnUpdateRating").attr("id", "btnSaveRating");
                    }
                    else {
                        $("#divBtnSave").hide();
                        $("#btnFinalSubmit").hide();
                        str2 += '<tr>';
                        str2 += '<td colspan="6" style="text-align:center">HR Not Launched Appraisal For This Period</td>';
                        str2 += '</tr>';
                    }
                }

                $("#add-row tbody").append(str2);
                $('.distar').attr("disabled", "disabled");
                if (data.Table10.length > 0) {
                    var CloseAppraisalStatus = data.Table10[0].IsAppraisalClosedByHR;

                }

                if (SaveStatus == true || CloseAppraisalStatus == true) {
                    $('.dis').prop("disabled", true);
                    $('.dis').css("cursor", "not-allowed");
                    $("#divBtnSave").hide();
                    $("#btnFinalSubmit").prop("disabled", "disabled");
                    $('#btnFinalSubmit').css("cursor", "not-allowed");
                    $('.empcomnt').prop("disabled", true);
                    $('.empcomnt').css("cursor", "not-allowed");
                }
                //else {
                //    $('.dis').prop("disabled", false);
                //    $('.dis').css("cursor", "");
                //    $("#btnFinalSubmit").prop("disabled", "disabled");
                //    $("#btnFinalSubmit").removeAttr("disabled", "disabled");
                //    $('#btnFinalSubmit').css("cursor", "");
                //}
                if (CloseAppraisalStatus == true || SaveStatus != true) {
                    $("#AttachmentUrl").attr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "not-allowed");
                    $("#btnPdfUpload").attr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "not-allowed");
                }
                else {
                    $("#AttachmentUrl").removeAttr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "");
                    $("#btnPdfUpload").removeAttr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "");
                }
                if (data.Table11[0].FileCount > 0) {
                    $("#AttachmentUrl").attr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "not-allowed");
                    $("#btnPdfUpload").attr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "not-allowed");
                    $("#btnDownloadSignedPdf").removeAttr("disabled", "disabled");
                    $("#btnDownloadSignedPdf").css("cursor", "");
                }
                else if (CloseAppraisalStatus == true || SaveStatus != true) {
                    $("#AttachmentUrl").attr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "not-allowed");
                    $("#btnPdfUpload").attr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "not-allowed");
                    $("#btnDownloadSignedPdf").attr("disabled", "disabled");
                    $("#btnDownloadSignedPdf").css("cursor", "not-allowed");
                }
                else{
                    $("#AttachmentUrl").removeAttr("disabled", "disabled");
                    $("#AttachmentUrl").css("cursor", "");
                    $("#btnPdfUpload").removeAttr("disabled", "disabled");
                    $("#btnPdfUpload").css("cursor", "");
                    $("#btnDownloadSignedPdf").attr("disabled", "disabled");
                    $("#btnDownloadSignedPdf").css("cursor", "not-allowed");
                }
                $('.loader1').hide();
            }
        });
    });
</script>

