@model RDDStaffPortal.DAL.DataModels.PerformanceEvaluation.RDD_AddAppraisalQuestion

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<style>
    .ddlPeriod {
        font-size: 0.8rem;
    }

    a.disabled:hover {
        cursor: not-allowed;
    }

    .table-responsive {
        white-space: inherit;
    }

    .row {
        width: 100%
    }

    .btnDel {
        padding: 9px 24px;
    }

    .save{

    }
</style>
<link href="~/Content/extra-style.css" rel="stylesheet" />

<input type="hidden" id="hdnFiledCount" />
<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title redtitle">Add Appraisal Questions </h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal" id="btnAddQuestions" onclick="ClearModalData();">
                                    <i class="fa fa-plus"></i> Add question
                                </button>
                            </div>
                        </div>
                        <div class="loader1"></div>
                        <div class="card-body">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Period-Year</label>
                                    <select id="ddlSelectYear" class="form-control">
                                        <option value="-1">---Select---</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade modp" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog midbox" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header border-0 redbg">
                                            <h5 class="modal-title">
                                                <span class="fw-mediumbold whttitle">Add Question Form </span>
                                            </h5>
                                            <button type="button" class="close whtcolor" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Select Category</label>
                                                            <select id="ddlCategory" class="form-control ddlPeriod">
                                                                <option value="-1">---Select---</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Select Period</label>
                                                            <select id="ddlPeriod" class="form-control ddlPeriod">
                                                                <option value="-1">---Select---</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Select Year</label>
                                                            <select id="ddlYear" class="form-control ddlPeriod">
                                                                <option value="-1">---Select---</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br /><br />
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Copy From Previous :</label>
                                                            <select id="ddlCopyFromPrevious" class="form-control ddlPeriod">
                                                                <option value="-1">---Select---</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="add-rowPrevious" class="display table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th width="90%">Question </th>
                                                                <th style="text-align:center" width="10%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <!-- Text "OR" input-->
                                                <div class="form-group row">
                                                    <div class="col-12 text-center"> OR </div>
                                                </div>
                                                <!-- File Button -->
                                                <hr />
                                                <div class="form-group row">
                                                    <label class="col-md-2 control-label" for="action_json">Upload File :</label>
                                                    <div class="col-sm-7">
                                                        <input type="file" id="action_json" name="action_json" class="input-file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
                                                        <div id="action_jsondisplay"></div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <a href="#" id="btnDownloadExcel">Download Excel File Format</a>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="add-rowExcel" class="display table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th width="90%">Question </th>
                                                                <th style="text-align:center" width="10%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <hr />
                                                <!-- Text "OR" input-->
                                                <div class="form-group row">
                                                    <div class="col-12 text-center"> OR </div>
                                                </div>
                                                <div id="field">
                                                    <div id="field0">
                                                        <!-- Text input-->
                                                        <div class="form-group row">
                                                            <label class="col-md-2 control-label divTypeQuestions" for="action_name" id="">Type Question :</label>
                                                            <div class="col-md-10" id="divTypeQuestion">
                                                                <textarea id="action_name" name="action_name" type="text" placeholder="" class="form-control input-md txtQuestion"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Button -->
                                                <div class="col-12" id="divAddMore">
                                                    @*<button id="add-more" name="add-more" class="btn btn-primary btn-round">Add More</button>*@
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer border-0">
                                            <button type="button" id="btnSaveQuestion" class="btn btn-primary">Add</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <section>
                                <ul class="nav nav-tabs" id="myTab" role="tablist"></ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="table-responsive tblscroll">
                                            <table id="tblShowQuestion" class="display table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th width="90%">Question </th>
                                                        <th style="text-align:center" width="10%">Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success dis" id="btnLaunchAppraisal" onclick="LaunchAppraisal();">Launch Appraisal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/RedDotUtility.js"></script>

<script type="text/javascript">
    function GetCategoryList() {        
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetPeriodCategoryList", "AddAppraisalQuestion")',
            dataType: "json",
            success: function (data) {  
                debugger
                $("#ddlCopyFromPrevious").empty();
                $("#ddlCopyFromPrevious").append('<option value="-1">--Select--</option>');
                $.each(data.Table, function (index, Value) {
                    $("#ddlCopyFromPrevious").append("<option value='" + Value.PreviousPeriod + "'>" + Value.PreviousPeriod + "</option>");
                    
                });
                //$("#ddlCopyFromPrevious").append("<option value='H2-2020'>H2-2020</option>");
                $("#ddlCategory").empty();
                $("#ddlCategory").append('<option value="-1">--Select--</option>');
                $.each(data.Table1, function (index, Value) {
                    $("#ddlCategory").append("<option value='" + Value.CategoryId + "'>" + Value.CategoryName + "</option>");
                });
                $("#ddlPeriod").empty();
                $("#ddlPeriod").append('<option value="-1">--Select--</option>');
                $.each(data.Table2, function (index, Value) {
                    $("#ddlPeriod").append("<option value='" + Value.Period + "'>" + Value.Period + "</option>");
                });
                $("#ddlYear").empty();
                $("#ddlYear").append('<option value="-1">--Select--</option>');
                $.each(data.Table3, function (index, Value) {
                    $("#ddlYear").append("<option value='" + Value.Years + "'>" + Value.Years + "</option>");
                });
            }
        });
    }
    function SaveQuestion(rDD_Question) {
        $('.loader1').show();
        var rDD_Question = rDD_Question;
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAppraisalQuestion", "AddAppraisalQuestion")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ rDD_Question: rDD_Question }),
            dataType: "json",
            success: function (data) {                
                $('.loader1').hide();
                if (data[0].Outtf == true) {
                    RedDotAlert_Success(data[0].Responsemsg);
                    //GetCategoryWiseEmployeeDetails();
                    $("#addRowModal").modal('hide');
                    $("#btnUpdateEmpDetails").text("Save");
                    $("#btnUpdateEmpDetails").attr("id", "btnSaveEmpDetails");
                    GetQuestionDetails();
                    GetCategoryList();
                }
                else {
                    RedDotAlert_Error(data[0].Responsemsg);
                }
            }
        });
    }
    function GetPreviousPeriodQuestion(PrevPeriod, CategoryId) {
        $('.loader1').show();
        var Html1 = "";
        $("#add-rowPrevious tbody").empty();
        Html1 += '<tr>';
        Html1 += '<td colspan="6" style="text-align:center">Please Wait....</td>';
        Html1 += '</tr>';
        $("#add-rowPrevious").show();
        $("#add-rowPrevious tbody").append(Html1);
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPreviousPeriodQuestion", "AddAppraisalQuestion")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ PrevPeriod: PrevPeriod, CategoryId: CategoryId }),
            dataType: "json",
            success: function (data) {
                debugger               
                $("#add-rowPrevious tbody").empty();                
                var Html = "";
                var a = data.Table;
                if (a.length > 0) {
                    $.each(a, function (Index, Value) {
                        Html += '<tr>';
                        Html += '<td>' + '<input type="text" class="form-control appqstns" value="' + Value.Question + '">' + '</td>';
                        Html += '<td><div class="form-button-action"><button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger btnDel" data-original-title="Remove"><i class="fa fa-times"></i></button></div></td>';
                        Html += '</tr>';
                    });
                }
                else {
                    Html += '<tr>';
                    Html += '<td colspan="6" style="text-align:center">No Data Found</td>';
                    Html += '</tr>';
                }
                $("#add-rowPrevious tbody").append(Html);
                
                $('.loader1').hide();
            }
        });
    }

    function GetQuestionDetails() {        
        $("#tblShowQuestion tbody").empty();
        $("#tblShowQuestion tbody").append('<tr><td colspan="6" style="text-align:center">Please Wait....</td></tr>');
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetQuestionDetails", "AddAppraisalQuestion")',
            dataType: "json",
            success: function (data) {               
                
                $("#ddlSelectYear").empty();
                $("#ddlSelectYear").append('<option value="-1">--Select--</option>');
                if (data.Table3.length > 0) {
                    $.each(data.Table3, function (index, Value) {                        
                        $("#ddlSelectYear").append("<option value='" + Value.AllYear + "'>" + Value.AllYear + "</option>");                        
                    });
                    if (data.Table4.length > 0) {
                        $("#ddlSelectYear").val(data.Table4[0].CurrentYear);
                    }
                }            
                $("#myTab").empty();
                $.each(data.Table, function (Index, Value) {
                    var str1 = "";
                    str1 += '<li class="nav-item waves-effect waves-light"><a class="nav-link selectCategory" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false" data="' + Value.CategoryId + '">' + Value.CategoryName + '</a></li >';
                    $("#myTab").append(str1);
                });
                $("#myTab li:eq(0) a").tab('show');
                var str2 = "";
                //$('#tblShowQuestion').dataTable().fnDestroy();
                $("#tblShowQuestion tbody").empty();
                if (data.Table1.length > 0) {
                    $.each(data.Table1, function (Index, Value) {                        
                        str2 += '<tr>';          
                        str2 += '<td style="display:none">' + Value.QuestionTransId + '</td>';
                        str2 += '<td>' + Value.Question + '</td>';                        
                        str2 += '<td><div class="form-button-action"><button type="button" id="btnEditCategory" title="" class= "btn btn-link btn-primary btn-lg edit dis" data-original-title="Edit Task"><i class="fa fa-edit"></i></button> <button type="button" id="" title="" class= "btn btn-link btn-success update dis" data-original-title="Edit Task"><i class="fas fa-save"></i></button> <button type="button" data-toggle="tooltip" data="' + Value.QuestionId + '" title="" class="btn btn-link btn-danger delete dis" data-original-title="Remove"><i class="fa fa-times"></i></button></div></td>';
                        str2 += '</tr>';                        
                    });
                    $("#btnLaunchAppraisal").show();
                }
                else {
                    $("#btnLaunchAppraisal").hide();
                    str2 += '<tr>';
                    str2 += '<td colspan="6" style="text-align:center">Question Not Assigned Under This Category</td>';
                    str2 += '</tr>';
                }
                $("#tblShowQuestion tbody").append(str2);
                $(".update").attr("hidden", "hidden");
                if (data.Table2.length > 0) {
                    var LaunchStatus = data.Table2[0].AppraisalLaunchStatus;
                }
                if (LaunchStatus == true) {
                    $('.dis').prop("disabled", true);
                    $('.dis').css("cursor", "not-allowed");
                    
                }
                else {
                    $('.dis').prop("disabled", false);
                    $('.dis').css("cursor", "");
                }
                $('.loader1').hide();                
            }
        });
    }
    
    $(document).ready(function () {
        $('.loader1').show();
        GetQuestionDetails();         
        GetCategoryList();
        $("#add-rowExcel").hide();
        $("#add-rowPrevious").hide();
    });

    function LaunchAppraisal() {     
        var Qperiod = $("#ddlSelectYear option:selected").val();
        const swalWithBootstrapButtons = Swal.mixin({
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false,
        })
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Launch it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {            
            if (result.value) {
                $('.loader1').show();
                $.getJSON("/AddAppraisalQuestion/LaunchAppraisal", { "Qperiod": Qperiod }).done(function (data) {
                    $('.loader1').hide();
                    if (data[0].Outtf == true) {
                        RedDotAlert_Success(data[0].Responsemsg);
                        GetQuestionDetails();
                        GetCategoryList();
                    }
                    else {
                        RedDotAlert_Error(data[0].Responsemsg);
                    }
                });
            }
            else if (
                // Read more about handling dismissals
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your Record  is safe :)',
                    'error'
                )
            }
            $('.loader1').hide();
        });
    }

    function ClearModalData() {        
        GetCategoryList();
        $("#add-rowPrevious").hide();
        $("#add-rowExcel").hide();
        $("#add-rowPrevious tbody").empty();
        $("#add-rowExcel tbody").empty();
        $('.txtQuestion').each(function () {
            $(this).val("");            
            $(this).remove();
            $('.remove-me').remove();
            $('.divTypeQuestions').text("");
        });
        $("#ddlCopyFromPrevious").removeAttr("disabled", true);
        $("#action_name").removeAttr("disabled", true);
        $("#add-more").removeAttr("disabled", true);
        $("#action_name").css("cursor", "");
        $("#ddlCopyFromPrevious").css("cursor", "");
        $("#add-more").css("cursor", "");
        $("#action_json").removeAttr("disabled", true);        
        $("#action_json").css("cursor", "");
        $("#action_json").val("");
        $("#field").empty();
        $("#field").append('<div id="field0"><div class="form-group row"><label class="col-md-2 control-label divTypeQuestions" for="action_name" id="">Type Question :</label><div class="col-md-10" id="divTypeQuestion"><textarea id="action_name" name="action_name" type="text" placeholder="" class="form-control input-md txtQuestion"></textarea></div></div></div >');
        //$("#divTypeQuestion").empty();
        //$('.divTypeQuestions').text("Type Question:");
        //$("#divTypeQuestion").append('<textarea id="action_name" name="action_name" type="text" placeholder="" class="form-control input-md txtQuestion"></textarea>');
        $("#divAddMore").empty();
        $("#divAddMore").append('<button id="add-more" name="add-more" class="btn btn-primary btn-round">Add More</button>');
        var next = 0;
        $("#add-more").click(function (e) {            
            e.preventDefault();
            var addto = "#field" + next;
            var addRemove = "#field" + (next);
            next = next + 1;
            var newIn = ' <div id="field' + next + '" name="field' + next + '"><!-- Text input--><div class="form-group row"><label class="col-md-2 control-label divTypeQuestions" for="action_name">Type Question :</label><div class="col-md-10"><textarea id="action_name" name="action_name" type="text" placeholder="" class="form-control input-md txtQuestion"></textarea></div></div></div>';
            var newInput = $(newIn);
            var removeBtn = '<div class="col-12" style="overflow:hidden;"><button id="remove' + (next - 1) + '" class="btn btn-danger btn-round remove-me" >Remove</button></div></div><div id="field">';
            var removeButton = $(removeBtn);
            $(addto).after(newInput);
            $(addRemove).after(removeButton);
            $("#field" + next).attr('data-source', $(addto).attr('data-source'));
            $("#count").val(next);
            $('.remove-me').click(function (e) {
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length - 1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
        });
    }

    $(document).on('change', '#ddlSelectYear', function () {
        var Qperiodyear = $(this).val();
        $('.loader1').show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetQuestionByPeriodYear", "AddAppraisalQuestion")',
            data: { "Qperiodyear": Qperiodyear },
            dataType: "json",
            success: function (data) {                
                $("#myTab").empty();
                $.each(data.Table, function (Index, Value) {
                    var str1 = "";
                    str1 += '<li class="nav-item waves-effect waves-light"><a class="nav-link selectCategory" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false" data="' + Value.CategoryId + '">' + Value.CategoryName + '</a></li >';
                    $("#myTab").append(str1);
                });
                $("#myTab li:eq(0) a").tab('show');
                var str2 = "";
                //$('#tblShowQuestion').dataTable().fnDestroy();
                $("#tblShowQuestion tbody").empty();
                if (data.Table1.length > 0) {
                    $.each(data.Table1, function (Index, Value) {
                        str2 += '<tr>';
                        str2 += '<td style="display:none">' + Value.QuestionTransId + '</td>';
                        str2 += '<td>' + Value.Question + '</td>';
                        str2 += '<td><div class="form-button-action"><button type="button" id="btnEditCategory" title="" class= "btn btn-link btn-primary btn-lg edit dis" data-original-title="Edit Task"><i class="fa fa-edit"></i></button> <button type="button" id="" title="" class= "btn btn-link btn-success update dis" data-original-title="Edit Task"><i class="fas fa-save"></i></button> <button type="button" data-toggle="tooltip" data="' + Value.QuestionId + '" title="" class="btn btn-link btn-danger delete dis" data-original-title="Remove"><i class="fa fa-times"></i></button></div></td>';
                        str2 += '</tr>';
                    });
                    $("#btnLaunchAppraisal").show();
                }
                else {
                    $("#btnLaunchAppraisal").hide();
                    str2 += '<tr>';
                    str2 += '<td colspan="6" style="text-align:center">Question Not Assigned Under This Category</td>';
                    str2 += '</tr>';
                }
                $("#tblShowQuestion tbody").append(str2);
                $(".update").attr("hidden", "hidden");
                if (data.Table2.length > 0) {
                    var LaunchStatus = data.Table2[0].AppraisalLaunchStatus;
                }
                if (LaunchStatus == true) {
                    $('.dis').prop("disabled", true);
                    $('.dis').css("cursor", "not-allowed");

                }
                else {
                    $('.dis').prop("disabled", false);
                    $('.dis').css("cursor", "");
                }
                $('.loader1').hide();
            }    
        });
    });

    $(document).on('click', '#btnDownloadExcel', function () {
        window.location.href = '@Url.Action("Download", "AddAppraisalQuestion")';
    });
    $(document).on('change', '#action_json', function () {
        var Files = $(this).get(0).files;
        if (Files[0].name != "") {
            $("#ddlCopyFromPrevious").attr("disabled", true);
            $("#action_name").attr("disabled", true);
            $("#add-more").attr("disabled", true);
            $("#ddlCopyFromPrevious").css("cursor", "not-allowed");
            $("#action_name").css("cursor", "not-allowed");
            $("#add-more").css("cursor", "not-allowed");
        }
        else {
            $("#ddlCopyFromPrevious").removeAttr("disabled", true);
            $("#action_name").removeAttr("disabled", true);
            $("#add-more").removeAttr("disabled", true);
            $("#action_name").css("cursor", "");
            $("#ddlCopyFromPrevious").css("cursor", "");
            $("#add-more").css("cursor", "");
        }
        var filedata = new FormData();
        filedata.append(Files[0].name, Files[0]);
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetExcelData", "AddAppraisalQuestion")',
            data: filedata,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (data) {
                //$('#add-rowExcel').dataTable().fnDestroy();
                $("#add-rowExcel tbody").empty();
                $("#add-rowExcel").show();
                var Html = "";
                if (data.length > 0) {
                    $.each(data, function (Index, Value) {
                        Html += '<tr>';
                        Html += '<td>' + '<input type="text" class="form-control appqstn" value="' + Value.AppraisalQuestion + '">' + '</td>';
                        Html += '<td><div class="form-button-action"><button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger delete btnDel" data-original-title="Remove"><i class="fa fa-times"></i></button></div></td>';
                        Html += '</tr>';
                    });
                }
                else {
                    Html += '<tr>';
                    Html += '<td colspan="6" style="text-align:center">No Data Found</td>';
                    Html += '</tr>';
                }
                $("#add-rowExcel tbody").append(Html);

            }
        });
    });
    $(document).on('change', '#ddlCopyFromPrevious', function () {
        var CategoryId = $("#ddlCategory option:selected").val();
        if (CategoryId == "-1") {
            RedDotAlert_Error("Please Select Category First");
            return false;
        }
        var PrevPeriod = $("#ddlCopyFromPrevious option:selected").val();
        
        if (PrevPeriod != '-1') {
            $("#action_json").attr("disabled", true);
            $("#action_name").attr("disabled", true);
            $("#add-more").attr("disabled", true);
            $("#action_name").css("cursor", "not-allowed");
            $("#action_json").css("cursor", "not-allowed");
            $("#add-more").css("cursor", "not-allowed");
            GetPreviousPeriodQuestion(PrevPeriod, CategoryId);
        }
        else {
            $("#add-rowPrevious").hide();
            $("#add-rowPrevious tbody").empty();
            $("#action_json").removeAttr("disabled", true);
            $("#action_name").removeAttr("disabled", true);
            $("#add-more").removeAttr("disabled", true);
            $("#action_name").css("cursor", "");
            $("#action_json").css("cursor", "");
            $("#add-more").css("cursor", "");
        }
        
    });

    $(document).on('change', '#ddlCategory', function () {
        var PrevPeriod = $("#ddlCopyFromPrevious option:selected").val();
        var CategoryId = $(this).val();     
        if (PrevPeriod == "-1") {
            //RedDotAlert_Error("Please Select Category First");
            return false;
        }
        else {
            $("#action_json").attr("disabled", true);
            $("#action_name").attr("disabled", true);
            $("#add-more").attr("disabled", true);
            $("#action_name").css("cursor", "not-allowed");
            $("#action_json").css("cursor", "not-allowed");
            $("#add-more").css("cursor", "not-allowed");
            GetPreviousPeriodQuestion(PrevPeriod, CategoryId);
        }       
    });
    $(document).on('click', '.btnDel', function () {
        $(this).parents("tr").remove();
    });
    $(document).on('keyup', '#action_name', function () {
        var Key = $(this).val();
        if (Key.length > 0 || $("#action_name").val()!="") {
            $("#action_json").attr("disabled", true);
            $("#ddlCopyFromPrevious").attr("disabled", true);
            $("#ddlCopyFromPrevious").css("cursor", "not-allowed");
            $("#action_json").css("cursor", "not-allowed");
        }
        else {
            $("#action_json").removeAttr("disabled", true);
            $("#ddlCopyFromPrevious").removeAttr("disabled", true);
            $("#ddlCopyFromPrevious").css("");
            $("#action_json").css("");
        }
    });
    $(document).on('click', '#btnSaveQuestion', function () {
        var Catid = $("#ddlCategory option:selected").val();
        var Period = $("#ddlPeriod option:selected").val();
        var QYear = $("#ddlYear option:selected").val();
        if (Catid == "-1") {
            RedDotAlert_Error("Please Select Category");
            return false;
        }
        if (Period == "-1") {
            RedDotAlert_Error("Please Select Period");
            return false;
        }
        if (QYear == "-1") {
            RedDotAlert_Error("Please Select Year");
            return false;
        }
        var rDD_Question = {
            CategoryId: Catid,
            Period: Period,
            Year: QYear,
            rDD_QuestionList:[]
        };
        if ($("#action_json").prop("disabled") == false) {
            $("#add-rowExcel tbody tr").each(function () {
                var qstn = $.trim($('.appqstn', this).val());
                var rDD_QuestionList = {
                    Question: qstn
                };
                rDD_Question.rDD_QuestionList.push(rDD_QuestionList);
            });
        }
        else if ($("#action_name").prop("disabled") == false) {
            $('.txtQuestion').each(function () {
                var qstn = $.trim($(this).val());
                var rDD_QuestionList = {
                    Question: qstn
                };
                rDD_Question.rDD_QuestionList.push(rDD_QuestionList);
            });
        }
        else if ($("#ddlCopyFromPrevious").prop("disabled") == false) {
            $("#add-rowPrevious tbody tr").each(function () {
                var qstn = $.trim($('.appqstns', this).val());
                var rDD_QuestionList = {
                    Question: qstn
                };
                rDD_Question.rDD_QuestionList.push(rDD_QuestionList);
            });
        }
        if ($("#action_json").prop("disabled") == false && $("#action_name").prop("disabled") == false && $("#ddlCopyFromPrevious").prop("disabled") == false) {
            RedDotAlert_Error("Please Select Anyone Option To Save Question");
            return false;
        }
        SaveQuestion(rDD_Question);
    });

    $(document).on('click', '.selectCategory', function () {
        var CategoryId = $(this).attr("data");
        var Qperiod = $("#ddlSelectYear option:selected").val();
        $("#tblShowQuestion tbody").empty();
        $("#tblShowQuestion tbody").append('<tr><td colspan="6" style="text-align:center">Please Wait....</td></tr>');        
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCategorywiseQuestionList", "AddAppraisalQuestion")',
            data: { "CategoryId": CategoryId, "Qperiod": Qperiod},
            dataType: "json",
            success: function (data) { 
                debugger
                var d = data.Table;
                var str = "";
                var Count = 0;
                $("#tblShowQuestion tbody").empty();                
                if (d.length > 0) {
                    $.each(d, function (Index, Value) {                        
                        str += '<tr>';
                        str += '<td style="display:none">' + Value.QuestionTransId + '</td>';
                        str += '<td>' + Value.Question + '</td>';                                              
                        str += '<td><div class="form-button-action"><button type="button" id="" title="" class= "btn btn-link btn-primary btn-lg edit dis" data-original-title="Edit Task"><i class="fa fa-edit"></i></button> <button type="button" id="" title="" class= "btn btn-link btn-success update dis" data-original-title="Edit Task"><i class="fas fa-save"></i></button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger delete dis" data-original-title="Remove"><i class="fa fa-times"></i></button></div></td>';
                        str += '</tr>';                        
                    });
                }
                else {
                    str += '<tr>';
                    str += '<td colspan="6" style="text-align:center">Question Not Assigned Under This Category</td>';                    
                    str += '</tr>';     
                }    
                $("#tblShowQuestion tbody").append(str);
                $(".update").attr("hidden", "hidden");
                if (data.Table1.length > 0) {
                    var LaunchStatus = data.Table1[0].AppraisalLaunchStatus;
                }
                if (LaunchStatus == true) {
                    $('.dis').prop("disabled", true);
                    $('.dis').css("cursor", "not-allowed");
                }
                else {
                    $('.dis').prop("disabled", false);
                    $('.dis').css("cursor", "");
                }
            }
        });
    });
    $(document).on('click', '.edit', function () {        
        var tr = $(this).closest("tr");        
        tr.find(".edit").attr("hidden", "hidden");
        tr.find(".delete").attr("hidden", "hidden");
        tr.find(".update").removeAttr("hidden", "hidden");       
        $(this).parents("tr").find("td:eq(1)").html('<input type="text"  class="form-control" id="txtQstn" value="' + $(this).parents("tr").find("td:eq(1)").html() + '">');
        //$(this).parents("tr").find("td:eq(2)").html('<div class="form-button-action"><button type="button" id="" title="" class= "btn btn-link btn-success save" data-original-title="Edit Task"><i class="fas fa-save"></i></button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger delete" data-original-title="Remove"><i class="fa fa-times"></i></button></div>')        
    });   
    $(document).on('click', '.update', function () {
        $('.loader1').show();
        var tr = $(this).closest("tr");
        var Qid = tr.find("td:eq(0)").html();       
        var Question = tr.find("#txtQstn").val();        
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateAppraisalQuestion", "AddAppraisalQuestion")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify ({ Qid: Qid, Question: Question }),
            dataType: "json",
            success: function (data) {
                debugger
                $('.loader1').hide();
                if (data[0].Outtf == true) {                    
                    RedDotAlert_Success(data[0].Responsemsg);
                    GetQuestionDetails();
                    tr.find(".edit").removeAttr("hidden", "hidden");
                    tr.find(".delete").removeAttr("hidden", "hidden");
                    tr.find(".update").attr("hidden", "hidden");
                }
                else {
                    RedDotAlert_Error(data[0].Responsemsg);
                }
            }
        });
    });
    $(document).on('click', '.delete', function () {
        var Qid = $(this).closest("tr").find("td:eq(0)").html();
        const swalWithBootstrapButtons = Swal.mixin({
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false,
        })
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {            
            if (result.value) {
                $('.loader1').show();
                $.getJSON("/AddAppraisalQuestion/DeleteAppraisalQuestion", { "Qid": Qid }).done(function (data) {
                    $('.loader1').hide();
                    if (data[0].Outtf == true) {
                        RedDotAlert_Success(data[0].Responsemsg);
                        GetQuestionDetails();
                    }
                    else {
                        RedDotAlert_Error(data[0].Responsemsg);
                    }
                });
            }
            else if (
                // Read more about handling dismissals
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your Record  is safe :)',
                    'error'
                )
            }
            $('.loader1').hide();
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#myTab li:eq(0) a").tab('show');
    });
    $('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });
    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });
</script>
