
            @model RDDStaffPortal.DAL.DataModels.RDD_CountryTarget
                @*@model RDDStaffPortal.DAL.DataModels.RDD_CountryBU*@
                @{
                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_CommonLayout.cshtml";
            }

         

            <div class="main-panel">
                <div class="container">
                    <div class="page-inner">
                        <div class="page-header">
                            <div class="col-md-9 padd-0">
                                <h4 class="page-title">Country Targets</h4>
                            </div>
                        </div>


                        <div class="rowmin">
                            <div class="col-md-12">
                                <div class="card full-height">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-xl-4 col-md-3">
                                                <div class="form-group">
                                                    <label class="form-radio-label">
                                                        <input class="form-radio-input" type="radio" id="rbttype" value="Year" name="tergettype" onclick="openyrdiv();">
                                                        <span class="form-radio-sign">Monthly</span>
                                                    </label>
                                                    <label class="form-radio-label">
                                                        <input class="form-radio-input" type="radio" id="rbttype" value="Quarterly" name="tergettype" onclick="openqrdiv();">
                                                        <span class="form-radio-sign">Quarterly</span>
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-md-1 ml-auto text-right">
                                                <button type="button" id="copyfrom" class="btn btn-success btn-sm" data-toggle="modal" data-target="#CopyFromPopUp" onclick="viewpopup()">Copy From</button>
                                            </div>
                                        </div>
                                       
                                        <div class="row" style="display:none" id="divyr">

                                            <div class="col-xl-1 col-md-1">

                                                <div class="form-group"><label for="email2" class=" mar-t4">Year :</label></div>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" id="ddlyr">
                                                    <option value="0">-- Select --</option>
                                                </select>
                                            </div>
                                            <div class="icon-preview"><i class="fas fa-arrow-alt-circle-left" onclick="changemonthprv()"></i></div>

                                            <div class="col-xl-1 col-md-1" id="divmonth" style="display:none">
                                                <div class="form-group">
                                                    <label for="email2" class="width100px mar-t4"> Month :</label>
                                                </div>
                                            </div>
                                            <div class="form-group" id="divmonthval" style="display:none">
                                                <select class="width140px form-control" id="ddlfrommonth">
                                                    <option selected value='0'>--Select --</option>
                                                    <option value='1'>Janaury</option>
                                                    <option value='2'>February</option>
                                                    <option value='3'>March</option>
                                                    <option value='4'>April</option>
                                                    <option value='5'>May</option>
                                                    <option value='6'>June</option>
                                                    <option value='7'>July</option>
                                                    <option value='8'>August</option>
                                                    <option value='9'>September</option>
                                                    <option value='10'>October</option>
                                                    <option value='11'>November</option>
                                                    <option value='12'>December</option>
                                                </select>
                                            </div>

                                            <div class="col-xl-1 col-md-1" id="divquarter" style="display:none">
                                                <div class="form-group">
                                                    <label for="email2" class="width100px mar-t4"> Quarter :</label>
                                                </div>
                                            </div>
                                            <div class="form-group" id="divquarterval" style="display:none">
                                                <select class="width140px form-control" id="ddlquater">
                                                    <option selected value='0'>--Select --</option>
                                                    <option value='Q1'>Q1</option>
                                                    <option value='Q2'>Q2</option>
                                                    <option value='Q3'>Q3</option>
                                                    <option value='Q4'>Q4</option>

                                                </select>
                                            </div>
                                            <div class="icon-preview"><i class="fas fa-arrow-alt-circle-right" onclick="changemonth()"></i></div>


                                            <div class="col-xl-2 col-md-1 ml-auto text-right">
                                                <button type="button" class="btn btn-info btn-sm" id="btnSave">Save</button>

                                                <button type="button" class="btn btn-info btn-sm" id="btnclear" onclick="window.location.href='@Url.Action("Index", "CountryTarget")'">Clear</button>
                                            </div>
                                        </div>


                                        <div class=" row mar-b10">
                                            <div class="col-xl-1 col-md-1">
                                                <div class="form-group">
                                                    <label for="email2" class="width100px mar-t4">Country :</label>
                                                </div>
                                            </div>
                                           
                                            <div class="col-xl-9 col-md-9 mar-t10">

                                                @foreach (var item in (List<RDDStaffPortal.DAL.DataModels.RDD_CountryTarget>)ViewBag.List)
                                                {
                                                <label class="form-radio-label">
                                                    @Html.RadioButtonFor(model => model.CountryCode, item.CountryCode, new { @onchange = "ViewBU(this);", @class = "form-radio-input"})

                                                    <span class="form-radio-sign">@item.CountryName</span>
                                                </label>
                                                        }
                                                   

                                                </div>
                                           
                                           
                                        </div>

                                            <div class="table-responsive">
                                                <div class="quick-scroll scrollbar-inner">
                                                    <div class="reddotTable sm-form" id="BUGrid">
                                                        <div class="reddotTableBody">
                                                            <div class="reddotTableRow odd-even-row">
                                                                <div class="reddotTableHead width1per"><div>Sr</div></div>
                                                                <div class="reddotTableHead width40per"><div>BU</div></div>
                                                                <div class="reddotTableHead width10per"><div>Revenue Targets</div></div>
                                                                <div class="reddotTableHead width10per"><div>GP Targets</div></div>
                                                            </div>
                                                        </div>@*
                        <div class="reddotTableBody" id="AddCMRow">
                            <div class="reddotTableRow odd-even-row">
                                <div class="reddotTableCell"> <div> Transcend</div> </div>
                                <div class="reddotTableCell"><div> <input type="text" class="form-control form-control-sm text-right" id=""></div></div>
                                <div class="reddotTableCell"><div><input type="text" class="form-control form-control-sm text-right" id=""></div></div>
                            </div>
                            <div class="reddotTableRow odd-even-row">



            </div

                                            </div>*@


                                                    </div>
                                                    
                                                    <input type="hidden" id="txntype" />
                                                </div>
                        </div>


                    </div>

                </div>
            </div>
            </div>
           </div></div>
                </div>
            <div tabindex="-1" class="modal fade" id="CopyFromPopUp" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Copy From</h5>
                            <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" id="popupmonthly" style="display:none">

                                <div class="col-xl-3 col-md-3">
                                    <div class="form-group">
                                        <label for="email2">Year :</label>
                                    </div>

                                    <div class="form-group">
                                        <select class="form-control" id="popupMyr">
                                            <option value="0">-- Select --</option>
                                         

                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-3">
                                    <div class="form-group">
                                        <label for="email2">For Month :</label>
                                    </div>

                                    <div class="form-group">
                                        <select class=" form-control" id="popupM">
                                            <option value="0" selected="">--Select --</option>
                                           
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="popupquarter" style="display:none">

                                <div class="col-xl-3 col-md-3">
                                    <div class="form-group">
                                        <label for="email2">Year :</label>
                                    </div>

                                    <div class="form-group">
                                        <select class="form-control" id="popupQyr">
                                            <option value="0">-- Select --</option>
                                            

                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-3">
                                    <div class="form-group">
                                        <label for="email2">Quarter :</label>
                                    </div>

                                    <div class="form-group">
                                        <select class=" form-control" id="popupQ">
                                            <option value="0" selected>--Select --</option>
                                            @*<option value="Q1">Q1</option>
                                            <option value="Q2">Q2</option>
                                            <option value="Q3">Q3</option>
                                            <option value="Q4">Q4</option>*@

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-info btn-sm" type="button" id="btnapply">Apply</button>
                            <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal" id="btnclose">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

            <script>
                var totalbuidx = "";
                $(document).ready(function () {
                    $('.scrollbar-inner').scrollbar();
                   
                    document.getElementById("copyfrom").disabled = true;

                    document.getElementById('ddlyr').innerHTML = "";
                   
                    var months = ['-- Select --'];
                    var curyr = new Date;
                    var yr = curyr.getFullYear();
                    var preyr = yr - 1;
                    var selectMonth = $("#ddlyr");
                    var monthElem = document.createElement("option");
                            monthElem.value = '0';
                            monthElem.textContent = '-- Select --';
                            selectMonth.append(monthElem);
                      
                    var monthElem = document.createElement("option");
                    monthElem.value = preyr;
                    monthElem.textContent = preyr;
                    selectMonth.append(monthElem);
                    var monthElem = document.createElement("option");
                    monthElem.value = yr;
                    monthElem.textContent = yr;
                    selectMonth.append(monthElem);



                    $("#ddlyr").on("change", function () {
                        var curyr =new  Date();
                        var yr = curyr.getFullYear();
                        var mnt = curyr.getMonth()+1;
                        debugger;
                        var selyr = $('#ddlyr').val();
                        var selmn = $('#ddlfrommonth').val();
                        var countval = $("[name='CountryCode']:checked").val();
                        var rst = "undefined";
                        //var result = countval.compare(rst);
                        if (typeof countval != "undefined" && selmn != "0") {
                            ViewBU(countval);
                        }
                      
                    });
                    $("#ddlfrommonth").on("change", function () {
                        debugger;
                        var curyr = new Date();
                        var yr = curyr.getFullYear();
                        var mnt = curyr.getMonth()+1;
                        debugger
                        var selyr = $('#ddlyr').val();
                        var selmn = $('#ddlfrommonth').val();
                        var countval = $("[name='CountryCode']:checked").val();
                        var rst = "undefined";
                        //var result = countval.compare(rst);
                        if (typeof countval != "undefined" && selyr != "0") {
                            ViewBU(countval);
                        }
                    });

                   
                    //$("#ddlQyr").on("change", function () {
                    //    var curyr = new Date();
                    //    var yr = curyr.getFullYear();
                    //    var mnt = curyr.getMonth() + 1;
                    //    debugger
                    //    var selyr = $('#ddlQyr').val();
                    //    var selmn = $('#ddlquater').val();
                    //    var countval = $("[name='CountryCode']:checked").val();
                    //    var rst = "undefined";
                    //    //var result = countval.compare(rst);
                    //    if (typeof countval != "undefined" && selmn != "0") {
                    //        ViewBU(countval);
                    //    }
                    //});
                       
                    $("#ddlquater").on("change", function () {
                        var curyr = new Date();
                        var yr = curyr.getFullYear();
                        var mnt = curyr.getMonth() + 1;
                        debugger
                       // var selyr = $('#ddlQyr').val();
                        var selyr = $('#ddlyr').val();
                        var selmn = $('#ddlquater').val();
                        var countval = $("[name='CountryCode']:checked").val();
                        var rst = "undefined";
                        //var result = countval.compare(rst);
                        if (typeof countval != "undefined" && selyr != "0") {
                            ViewBU(countval);
                        }
                    });

                    $("#popupQyr").on("change", function () {
                        //var monthElem = document.createElement("popupQ");

                        debugger;
                        document.getElementById('popupQ').innerHTML = "";
                        var selectMonth = $("#popupQ");
                        var months = ['-- Select --', 'Q1', 'Q2', 'Q3', 'Q4'];
                        var curyr = new Date;
                        var yr = curyr.getFullYear();
                        var mnt = curyr.getMonth() + 1;
                        var selmn = $('#popupQyr').val();
                        if (selmn < yr) {
                            for (var m = 0; m <5; m++) {
                                let monthNum = new Date(2018, m).getMonth()
                                let month = months[m];
                                var monthElem = document.createElement("option");
                                monthElem.value = 'Q'+m;
                                monthElem.textContent = month;
                                selectMonth.append(monthElem);
                            }
                        } else {
                            var curQuarter;
                            if (mnt < 4) {
                                curQuarter = 1;
                            } else if (mnt > 3 && mnt < 7) {
                                curQuarter = 2;
                            } else if (mnt > 6 && mnt < 9) {
                                curQuarter = 3;
                            } else {
                                curQuarter = 4;
                            }
                            for (var m = 0; m < curQuarter; m++) {
                                let monthNum = new Date(2018, m).getMonth()
                                let month = months[monthNum];
                                var monthElem = document.createElement("option");
                                monthElem.value = 'Q' +m;
                                monthElem.textContent = month;
                                selectMonth.append(monthElem);
                            }
                        }
                        document.getElementById("btnapply").disabled = false;
                               
                    });
                    $("#popupQ").on("change", function () { });
                    $("#popupM").on("change", function () { });
                    $("#popupMyr").on("change", function () {
                        debugger;
                        document.getElementById('popupM').innerHTML = "";
                        var selectMonth = $("#popupM");
                        var months = ['-- Select --','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                        var curyr = new Date;
                        var yr = curyr.getFullYear();
                        var mnt = curyr.getMonth() + 1;
                        var selmn = $('#popupMyr').val();
                        if (selmn < yr) {
                            for (var m = 0; m <= 12; m++) {
                                let monthNum = new Date(2018, m).getMonth()
                                let month = months[m];
                                var monthElem = document.createElement("option");
                                monthElem.value = m;
                                monthElem.textContent = month;
                                selectMonth.append(monthElem);
                            }
                        } else {
                            for (var m = 0; m < mnt; m++) {
                                let monthNum = new Date(2018, m).getMonth()
                                let month = months[monthNum];
                                var monthElem = document.createElement("option");
                                monthElem.value = m;
                                monthElem.textContent = month;
                                selectMonth.append(monthElem);
                            }
                        }
                        document.getElementById("btnapply").disabled = false;
                      
                    });
                });
            </script>
            <script>
                function changemonthprv() {
                    debugger;
                    var typeval = document.getElementById("txntype");
                    var txnval = typeval.value;
                    if (txnval == "Y") {
                        var selmn = $('#ddlfrommonth').val();
                        if (selmn < 2) {
                            $("#ddlfrommonth").val('12');
                        } else {
                            $("#ddlfrommonth").val(parseInt(selmn) - 1);
                        }
                    } else if (txnval == "Q") {
                        var selqt = $('#ddlquater').val();
                        if (selqt == "Q1") {
                            $("#ddlquater").val("Q4");
                        } else if (selqt == "Q2") {
                            $("#ddlquater").val("Q1");
                        } else if (selqt == "Q3") {
                            $("#ddlquater").val("Q2");
                        } else if (selqt == "Q4") {
                            $("#ddlquater").val("Q3");
                        }

                    }
}
                function changemonth() {
                    debugger;
                    var typeval = document.getElementById("txntype");
                    var txnval = typeval.value;
                    if (txnval == "Y") {
                        var selmn = $('#ddlfrommonth').val();
                        if (selmn < 12) {
                            $("#ddlfrommonth").val(parseInt(selmn) + 1);
                        } else {
                            $("#ddlfrommonth").val('1');
                        }
                    } else if (txnval == "Q") {
                        var selqt = $('#ddlquater').val();
                        if (selqt == "Q1") {
                            $("#ddlquater").val("Q2");
                        } else if (selqt == "Q2") {
                            $("#ddlquater").val("Q3");
                        } else if (selqt == "Q3") {
                            $("#ddlquater").val("Q4");
                        } else if (selqt == "Q4") {
                            $("#ddlquater").val("Q1");
                        }

                    }

                }
                function calculate(idx) {
                    debugger;

                    var ival = totalbuidx;
                    var totalrevrr = 0;

                    for (i = 0; i < ival; i++) {
                        var val = $("#txtrevenue_" + i).val();
                        if (val == "") {
                            $("#txtrevenue_" + i).val("0.00");
                        }
                        totalrevrr += parseFloat($("#txtrevenue_" + i).val());

                    }

                    var totr = document.getElementById('revtotal');

                    totr.innerHTML = totalrevrr.toFixed(2);



                }

                function calculategp(idx) {
                    var ival = totalbuidx;
                    var totalgprr = 0;
                    for (i = 0; i < ival; i++) {
                        var val = $("#txtgp_" + i).val();
                        if (val == "") {
                            $("#txtgp_" + i).val("0.00");
                        }
                        totalgprr += parseFloat($("#txtgp_" + i).val());

                    }

                    var totr = document.getElementById('gptotal');

                    totr.innerHTML = totalgprr.toFixed(2);


                }
                function assignzero(idx) {
                    debugger;
                    var str = idx.id;
                    var index = str.indexOf("_") + 1;
                    debugger;
                    var result = '';
                    if (index != 0) {
                        result = str.substr(index);
                    }
                    var rev = $("#txtrevenueRR_" + result).val();
                    if (rev == "") {
                        $("#txtrevenueRR_" + result).val("0.00");
                    }

                }
                
                function isNumeric(evt) {
                    var c = (evt.which) ? evt.which : event.keyCode
                    if ((c >= '0' && c <= '9') || c == '.')
                        return true;
                    return false;
                }
                function viewpopup() {
                    debugger;
                    var countval = $("[name='CountryCode']:checked").val();
                    var rst = "undefined";
                    //var result = countval.compare(rst);
                    if (typeof countval=="undefined") {
                        RdotAlerterrtxt("Please select country");
                        document.getElementById(' CopyFromPopUp').hidden;


                    } else {
                        var selval = document.getElementById("txntype").value;
                        if (selval == "Y") {
                            document.getElementById('popupmonthly').style.display = '';

                            document.getElementById('popupquarter').style.display = 'none';
                           
                            var dt = new Date();
                            var year = dt.getFullYear();
                            var mon = dt.getMonth() + 1
                            var curyr = new Date;
                            var yr = curyr.getFullYear();
                            var preyr = yr - 1;
                            document.getElementById('popupMyr').innerHTML = '';
                            var selectMonth = $("#popupMyr");
                            var monthElem = document.createElement("option");
                            monthElem.value = '0';
                            monthElem.textContent = '-- Select --';
                            selectMonth.append(monthElem);

                            var monthElem = document.createElement("option");
                            monthElem.value = preyr;
                            monthElem.textContent = preyr;
                            selectMonth.append(monthElem);
                            var monthElem = document.createElement("option");
                            monthElem.value = yr;
                            monthElem.textContent = yr;
                            selectMonth.append(monthElem);
                        } else if (selval == "Q") {

                            document.getElementById('popupquarter').style.display = '';

                            document.getElementById('popupmonthly').style.display = 'none';
                            var dt = new Date();
                            var year = dt.getFullYear();
                            var mon = dt.getMonth() + 1;
                            var quarterval;
                            if (mon >= 1 && mon <= 3) {
                                quarterval = "Q1";
                            } else if (mon >= 4 && mon <= 6) {
                                quarterval = "Q2";
                            } else if (mon >= 7 && mon <= 9) {
                                quarterval = "Q3";
                            } else if (mon >= 10 && mon <= 12) {
                                quarterval = "Q4";
                            }
                            var curyr = new Date;
                            var yr = curyr.getFullYear();
                            var preyr = yr - 1;
                            document.getElementById('popupQyr').innerHTML = '';
                            var selectMonth = $("#popupQyr");
                            var monthElem = document.createElement("option");
                            monthElem.value = '0';
                            monthElem.textContent = '-- Select --';
                            selectMonth.append(monthElem);

                            var monthElem = document.createElement("option");
                            monthElem.value = preyr;
                            monthElem.textContent = preyr;
                            selectMonth.append(monthElem);
                            var monthElem = document.createElement("option");
                            monthElem.value = yr;
                            monthElem.textContent = yr;
                            selectMonth.append(monthElem);
                           // $("#popupQyr").val(year);
                           // $("#popupQ").val(quarterval);
                        }
                    }
                    document.getElementById("btnapply").disabled = true;
                }
                function openyrdiv() {
                    clearall();
                    debugger;
                    document.getElementById('divyr').style.display = '';
                    document.getElementById('divmonth').style.display = '';
                    document.getElementById('divmonthval').style.display = '';


                    document.getElementById('divquarter').style.display = 'none';
                    document.getElementById('divquarterval').style.display = 'none';
                    //document.getElementById('divquater').style.display = 'none';

                    var x2 = document.getElementById("txntype");
                    x2.value = "Y";
                    var dt = new Date();
                    var year = dt.getFullYear();
                    var mon = dt.getMonth()+1;

                   // var e = document.getElementById("ddlyr");
                   // e.options[e.selectedIndex].value = year;
                    $('#ddlyr').val(year);
                    //var mn = document.getElementById("ddlfrommonth");
                   // mn.options[mn.selectedIndex].value = mn;
                    $("#ddlfrommonth").val(mon);

                }
                function openqrdiv() {
                    clearall();
                    document.getElementById('divyr').style.display = '';
                    document.getElementById('divmonth').style.display = 'none';
                    document.getElementById('divmonthval').style.display = 'none';
                    document.getElementById('divquarter').style.display = '';
                    document.getElementById('divquarterval').style.display = '';
                    var x2 = document.getElementById("txntype");
                    x2.value = "Q";
                    var dt = new Date();
                    var year = dt.getFullYear();
                    var mon = dt.getMonth()+1;
                    var quarterval;
                    if (mon >= 1 && mon <= 3) {
                        quarterval = "Q1";
                    } else if (mon >= 4 && mon <= 6) {
                        quarterval = "Q2";
                    } else if (mon >= 7 && mon <= 9) {
                        quarterval = "Q3";
                    } else if (mon >= 10 && mon <= 12) {
                        quarterval = "Q4";
                    }
                   // $('#ddlyr').val(year);
                    $("#ddlyr").val(year);
                    $("#ddlquater").val(quarterval);
                    //qval.options[qval.selectedIndex].value = quarterval;
                }
                function clearall() {
                    document.getElementById("copyfrom").disabled = true;
                    var x = document.getElementById("ddlyr");
                    if (x.value != "") { x.selectedIndex = 0; }

                    var y = document.getElementById("ddlfrommonth");
                    if (y.value != "") { y.selectedIndex = 0; }

                    //$('#CountryCode input[type="radio":checked]').each(function () {
                    //    $(this).checked = false;
                    //});

                  //  $('input[name=CountryCode]').removeAttr('checked');
                  //  $('input[name=CountryCode]:checked').removeAttr('checked');
                    //
                    var ele = document.getElementsByName("CountryCode");
                    for (var i = 0; i < ele.length; i++) {
                        ele[i].checked = false;
                    }

                    $('input[name=CountryCode]').attr('checked', false);
                    //var a= document.getElementById("ddlQyr");
                    //if (a.value != "") { a.selectedIndex = 0; }
                    document.getElementById('BUGrid').innerHTML = "";
                    document.getElementById('BUGrid').innerHTML = '<div class="reddotTableBody"><div class="reddotTableRow odd-even-row"><div class="reddotTableHead width1per"><div>Sr</div></div><div class="reddotTableHead width40per"><div>BU</div></div><div class="reddotTableHead width10per"><div>Revenue Targets</div></div><div class="reddotTableHead width10per"><div>GP Targets</div></div></div> </div>';

                    var b= document.getElementById("ddlquater");
                    if (b.value != "") { b.selectedIndex = 0; }
                }
                function ViewBU(countrycode) {
                    debugger;
                    document.getElementById('BUGrid').innerHTML = "";
                    document.getElementById('BUGrid').innerHTML = '<div class="reddotTableBody"><div class="reddotTableRow odd-even-row"><div class="reddotTableHead width1per"><div>Sr</div></div><div class="reddotTableHead width40per"><div>BU</div></div><div class="reddotTableHead width10per"><div>Revenue Targets</div></div><div class="reddotTableHead width10per"><div>GP Targets</div></div></div> </div>';

                    var yrval = ddlyr.value;
                    var trnyval = yrval;
                    var frmnt = ddlfrommonth.value;
                    var fmonth = frmnt;
                   // var tomnt = ddltomonth.value;
                    var tmnt= "";
                  //  alert(cardno);
                    var typeval = document.getElementById("txntype");
                    var txnval = typeval .value;
                    ///alert(txnval);
                    var qyr = ddlyr.value;
                    var quYr = qyr;
                    var countval = $("[name='CountryCode']:checked").val();
                    var curyr = new Date();
                    var yr = curyr.getFullYear();
                    var mnt = curyr.getMonth() + 1;
                    debugger;
                    var selyr = $('#ddlyr').val();
                    var selmn = $('#ddlfrommonth').val();
                    if (txnval == "Y") {
                        if (selyr < yr && (selmn <= mnt || selmn >= mnt)) {
                            document.getElementById("copyfrom").disabled = true;
                        } else if (selyr >= yr && selmn < mnt) {
                            document.getElementById("copyfrom").disabled = true;
                        } else {
                            document.getElementById("copyfrom").disabled = false;
                            // $("#copyfrom").enabled;
                        }
                    } else {
                        var dt = new Date();
                        var mon = dt.getMonth() + 1;
                        var quarterval;
                        if (mon >= 1 && mon <= 3) {
                            quarterval = "Q1";
                        } else if (mon >= 4 && mon <= 6) {
                            quarterval = "Q2";
                        } else if (mon >= 7 && mon <= 9) {
                            quarterval = "Q3";
                        } else if (mon >= 10 && mon <= 12) {
                            quarterval = "Q4";
                        }
                        if (quYr < yr && (Qval <= quarterval || Qva >= quarterval)) {
                            document.getElementById("copyfrom").disabled = true;
                        } else if (quYr >= yr && Qval < quarterval) {
                            document.getElementById("copyfrom").disabled = true;
                        }

                        else {
                            document.getElementById("copyfrom").disabled = false;
                            // $("#copyfrom").enabled;
                        }
                    }
                  //  alert($("[name='CountryCode']:checked").val());


                    var qutval = ddlquater.value;
                    var Qval = qutval ;
                    var rjdata = JSON.stringify({ "Ccode": countval, "year": trnyval, "type": txnval, "frommonth":fmonth, "tomonth": tmnt, "Qvalue": Qval ,"QYear":quYr});

                    $.ajax({
            type: "POST",
            dataType: "JSON",
            contentType: "application/json ;charset=utf-8;",
            async: true,
            url: '@Url.Action("GetCountrywiseBU", "CountryTarget")',
            data: JSON.stringify({ "fdata": rjdata }),
            cache: false,

            processData: false,
                        success: function (BU) {
                            debugger;
                           // $("#BUGrid").html("");
                           // $("#ddlModules").append($('<option/>', { value: -1, text: '--Select--' }));

                            //var d = document.createElement('div');
                            //d.id = "header";
                            //d.className = 'reddotTableHead width40per';
                            var p = document.getElementById('BUGrid');

                            //  p.appendChild(d);
                            $.each(BU, function (i, value) {
                                var idx = i;
                                if (value.BU == "Total") {
                                    totalbuidx = idx;
                                    var d = document.createElement('div');
                                    d.className = "reddotTableBody";
                                    d.id = "row" + i;
                                    var e = document.createElement('div');
                                    e.className = "reddotTableRow odd-even-row";
                                    e.id = "Subrow" + i;


                                    var srf = document.createElement('div');
                                    srf.className = "reddotTableHead";
                                    srf.id = "cell11";
                                    var srg = document.createElement('div');
                                    srg.id = "cellsr";
                                    srg.innerHTML = i + 1;
                                    srf.appendChild(srg);


                                    var f = document.createElement('div');
                                    f.className = "reddotTableHead";
                                    f.id = "cell1";
                                    var g = document.createElement('div');
                                    g.id = "cellBU";
                                    g.innerHTML = value.BU;
                                    f.appendChild(g);
                                    var h = document.createElement('div');
                                    h.className = "reddotTableHead";
                                    h.id = "cell2";
                                    var i = document.createElement('div');
                                    i.id = "revtotal";
                                    i.innerHTML = value.revenue;
                                    h.appendChild(i);

                                    var j = document.createElement('div');
                                    j.className = "reddotTableHead";
                                    j.id = "cell3";
                                    var k = document.createElement('div');
                                    k.id = "gptotal";
                                    k.innerHTML = value.GPTarget;

                                    j.appendChild(k);

                                    e.appendChild(srf);
                                    e.appendChild(f);
                                    e.appendChild(h);
                                    e.appendChild(j);
                                    d.appendChild(e);
                                    p.appendChild(d);
                                }
                                else {
                                    var d = document.createElement('div');
                                    d.className = "reddotTableBody";
                                    d.id = "row" + i;
                                    var e = document.createElement('div');
                                    e.className = "reddotTableRow odd-even-row";
                                    e.id = "Subrow" + i;

                                    var srf = document.createElement('div');
                                    srf.className = "reddotTableCell";
                                    srf.id = "cell11";
                                    var srg = document.createElement('div');
                                    srg.id = "cellsr";
                                    srg.innerHTML = i + 1;
                                    srf.appendChild(srg);

                                    var f = document.createElement('div');
                                    f.className = "reddotTableCell";
                                    f.id = "cell1";
                                    var g = document.createElement('div');
                                    g.id = "cellBU";
                                    g.innerHTML = value.BU;
                                    f.appendChild(g);
                                    var h = document.createElement('div');
                                    h.className = "reddotTableCell";
                                    h.id = "cell2";
                                    var i = document.createElement('div');
                                    i.id = "cellval2";
                                    var inputrevenue = document.createElement("INPUT");
                                    inputrevenue.setAttribute("type", "text");
                                    // alert(value.revenue);
                                    inputrevenue.id = "txtrevenue_"+idx;
                                    inputrevenue.setAttribute('value', value.revenue);
                                    inputrevenue.style.textAlign = "right";
                                    inputrevenue.setAttribute("onkeypress", 'return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)');

                                    inputrevenue.setAttribute("onkeyup", 'calculate(this)');
                                    inputrevenue.setAttribute("onchange", 'assignzero(this)')
                                    if (value.EnableProperty == "Disable") {
                                        inputrevenue.setAttribute('disabled', 'true');
                                    } else {
                                        inputrevenue.setAttribute('enabled', 'true');
                                    }
                                    ///inputrevenue.value = value.revenue;
                                    i.appendChild(inputrevenue);
                                    h.appendChild(i);
                                    var j = document.createElement('div');
                                    j.className = "reddotTableCell";
                                    j.id = "cell3";
                                    var k = document.createElement('div');
                                    k.id = "cellval3";
                                    var inputgp = document.createElement("INPUT");
                                    inputgp.setAttribute("type", "text");
                                    inputgp.id = "txtgp_"+idx;
                                    inputgp.value = value.GPTarget;
                                    inputgp.style.textAlign = "right";
                                    inputgp.setAttribute("onkeypress", 'return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)');
                                    inputgp.setAttribute("onkeyup", 'calculategp(this)');

                                    if (value.EnableProperty == "Disable") {
                                        inputgp.setAttribute('disabled', 'true');
                                    } else {
                                        inputgp.setAttribute('enabled', 'true');
                                    }
                                    k.appendChild(inputgp);
                                    j.appendChild(k);

                                    e.appendChild(srf);
                                    e.appendChild(f);
                                    e.appendChild(h);
                                    e.appendChild(j);
                                    d.appendChild(e);
                                    p.appendChild(d);
                                }
                            });

                        }
                    });

                }

                $('#btnapply').on("click", function () {
                    debugger;
                    var modal = document.getElementById('CopyFromPopUp');
                    modal.style.display = "none";
                    document.getElementById('BUGrid').innerHTML = "";
                    document.getElementById('BUGrid').innerHTML = '<div class="reddotTableBody"><div class="reddotTableRow odd-even-row"><div class="reddotTableHead width1per"><div>Sr</div></div><div class="reddotTableHead width40per"><div>BU</div></div><div class="reddotTableHead width10per"><div>Revenue Targets</div></div><div class="reddotTableHead width10per"><div>GP Targets</div></div></div> </div>';
                    $('.btn-danger').click();
                    var yrval = popupMyr.value;
                    var trnyval = yrval;
                    var frmnt = popupM.value;
                    var fmonth = frmnt;
                   // var tomnt = ddltomonth.value;
                    var tmnt= "";
                  //  alert(cardno);
                    var typeval = document.getElementById("txntype");
                    var txnval = typeval .value;
                    ///alert(txnval);
                    var qyr = popupQyr.value;
                    var quYr = qyr;
                    var countval = $("[name='CountryCode']:checked").val();
                    var curyr = new Date();
                    var yr = curyr.getFullYear();
                    var mnt = curyr.getMonth() + 1;
                    debugger;
                    var selyr = $('#ddlyr').val();
                    var selmn = $('#ddlfrommonth').val();
                    if (selyr < yr && (selmn <= mnt || selmn >= mnt)) {
                        document.getElementById("copyfrom").disabled = true;
                    } else if (selyr >= yr && selmn < mnt) {
                        document.getElementById("copyfrom").disabled = true;
                    } else {
                        document.getElementById("copyfrom").disabled = false;
                        // $("#copyfrom").enabled;
                    }
                  //  alert($("[name='CountryCode']:checked").val());


                    var qutval = popupQ.value;
                    var Qval = qutval ;
                    var rjdata = JSON.stringify({ "Ccode": countval, "year": trnyval, "type": txnval, "frommonth":fmonth, "tomonth": tmnt, "Qvalue": Qval ,"QYear":quYr});

                    $.ajax({
            type: "POST",
            dataType: "JSON",
            contentType: "application/json ;charset=utf-8;",
            async: true,
            url: '@Url.Action("GetCountrywiseBU", "CountryTarget")',
            data: JSON.stringify({ "fdata": rjdata }),
            cache: false,

            processData: false,
                        success: function (BU) {
                            debugger;
                            if (BU.length > 0) {
                            var p = document.getElementById('BUGrid');

                            $.each(BU, function (i, value) {
                                var idx = i;
                                if (value.BU == "Total") {
                                    totalbuidx = idx;
                                    var d = document.createElement('div');
                                    d.className = "reddotTableBody";
                                    d.id = "row" + i;
                                    var e = document.createElement('div');
                                    e.className = "reddotTableRow odd-even-row";
                                    e.id = "Subrow" + i;

                                    var srf = document.createElement('div');
                                    srf.className = "reddotTableHead";
                                    srf.id = "cell11";
                                    var srg = document.createElement('div');
                                    srg.id = "cellsr";
                                    srg.innerHTML = i + 1;
                                    srf.appendChild(srg);


                                    var f = document.createElement('div');
                                    f.className = "reddotTableHead";
                                    f.id = "cell1";
                                    var g = document.createElement('div');
                                    g.id = "cellBU";
                                    g.innerHTML = value.BU;
                                    f.appendChild(g);
                                    var h = document.createElement('div');
                                    h.className = "reddotTableHead";
                                    h.id = "cell2";
                                    var i = document.createElement('div');
                                    i.id = "revtotal";
                                    i.innerHTML = value.revenue;
                                    h.appendChild(i);

                                    var j = document.createElement('div');
                                    j.className = "reddotTableHead";
                                    j.id = "cell3";
                                    var k = document.createElement('div');
                                    k.id = "gptotal";
                                    k.innerHTML = value.GPTarget;

                                    j.appendChild(k);

                                    e.appendChild(srf);
                                    e.appendChild(f);
                                    e.appendChild(h);
                                    e.appendChild(j);
                                    d.appendChild(e);
                                    p.appendChild(d);
                                }
                                else {
                                    var d = document.createElement('div');
                                    d.className = "reddotTableBody";
                                    d.id = "row" + i;
                                    var e = document.createElement('div');
                                    e.className = "reddotTableRow odd-even-row";
                                    e.id = "Subrow" + i;

                                    var srf = document.createElement('div');
                                    srf.className = "reddotTableCell";
                                    srf.id = "cell11";
                                    var srg = document.createElement('div');
                                    srg.id = "cellsr";
                                    srg.innerHTML = i + 1;
                                    srf.appendChild(srg);

                                    var f = document.createElement('div');
                                    f.className = "reddotTableCell";
                                    f.id = "cell1";
                                    var g = document.createElement('div');
                                    g.id = "cellBU";
                                    g.innerHTML = value.BU;
                                    f.appendChild(g);
                                    var h = document.createElement('div');
                                    h.className = "reddotTableCell";
                                    h.id = "cell2";
                                    var i = document.createElement('div');
                                    i.id = "cellval2";
                                    var inputrevenue = document.createElement("INPUT");
                                    inputrevenue.setAttribute("type", "text");
                                    // alert(value.revenue);
                                    inputrevenue.id = "txtrevenue_"+idx;
                                    inputrevenue.setAttribute('value', value.revenue);
                                    inputrevenue.style.textAlign = "right";
                                    inputrevenue.setAttribute("onkeypress", 'return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)');

                                    inputrevenue.setAttribute("onkeyup", 'calculate(this)');

                                    if (value.EnableProperty == "Disable") {
                                        inputrevenue.setAttribute('enabled', 'true');
                                    } else {
                                        inputrevenue.setAttribute('enabled', 'true');
                                    }
                                    ///inputrevenue.value = value.revenue;
                                    i.appendChild(inputrevenue);
                                    h.appendChild(i);
                                    var j = document.createElement('div');
                                    j.className = "reddotTableCell";
                                    j.id = "cell3";
                                    var k = document.createElement('div');
                                    k.id = "cellval3";
                                    var inputgp = document.createElement("INPUT");
                                    inputgp.setAttribute("type", "text");
                                    inputgp.id = "txtgp_"+idx;
                                    inputgp.value = value.GPTarget;
                                    inputgp.style.textAlign = "right";
                                    inputgp.setAttribute("onkeypress", 'return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)');
                                    inputgp.setAttribute("onkeyup", 'calculategp(this)');


                                    if (value.EnableProperty == "Disable") {
                                        inputgp.setAttribute('enabled', 'true');
                                    } else {
                                        inputgp.setAttribute('enabled', 'true');
                                    }
                                    k.appendChild(inputgp);
                                    j.appendChild(k);

                                    e.appendChild(srf);
                                    e.appendChild(f);
                                    e.appendChild(h);
                                    e.appendChild(j);
                                    d.appendChild(e);
                                    p.appendChild(d);
                                }
                            });
                            } else {
                                RdotAlerterrtxt("Data doesn't exist for selected criteria");
                            }
                        }
                    });

                });

                $('#btnSave').on("click", function () {
                    $(".loader1").show();
                    var CountryBU = {

                        BUDetails: [],


                    };

                    debugger;
                  
                    var yrval = ddlyr.value;
                    var trnyval = yrval;
                    var frmnt = ddlfrommonth.value;
                    var fmonth = frmnt;
                    // var tomnt = ddltomonth.value;
                    var tmnt = "";
                    //  alert(cardno);
                    var typeval = document.getElementById("txntype");
                    var txnval = typeval.value;
                    ///alert(txnval);
                    var qyr = ddlyr.value;
                    var quYr = qyr;
                    var countval = $("[name='CountryCode']:checked").val();
                    //  alert($("[name='CountryCode']:checked").val());

                    var flag = "False";
                    var qutval = ddlquater.value;
                    var Qval = qutval;
                    if (txnval == "Y") {
                        if (trnyval == "0") {
                            RdotAlerterrtxt("Please select Year");
                        } else if (fmonth == "0") {
                            RdotAlerterrtxt("Please select Month");
                        } else if (typeof countval == "undefined") {
                            RdotAlerterrtxt("Please select country");
                        } else {
                            flag = "True";
                        }
                    } else if (txnval == "Q") {
                        if (trnyval == "0") {
                            RdotAlerterrtxt("Please select Year");
                        } else if (Qval == "0") {
                            RdotAlerterrtxt("Please select Month");
                        } else if (typeof countval == "undefined") {
                            RdotAlerterrtxt("Please select country");
                        } else {
                            flag = "True";
                        }

                    }

                  //  var rjdata = JSON.stringify({ "Ccode": countval, "year": trnyval, "type": txnval, "frommonth": fmonth, "tomonth": tmnt, "Qvalue": Qval, "QYear": quYr });
                    if (flag == "True") {
                        var searchEles = document.getElementById("BUGrid");
                        var CountryBU = [];
                        var elements = {};
                        //  for (var i =0; i < searchEles.childElementCount; i++) {
                        var children = searchEles.childNodes;

                        for (var j = 0; j < children.length - 1; j++) {
                            var child = children[j].childNodes;
                            if (child.length == 1) {
                                var subchild = child[0].childNodes;
                                if (subchild.length == 4) {
                                    var buval = subchild[1].textContent;
                                    var cellsub = subchild[2].childNodes[0];
                                    var revenue = cellsub.childNodes[0];
                                    var revenueval = revenue.value;
                                    // revenue = subchild[1].lastChild.nodeValue;
                                    var cellgp = subchild[3].childNodes[0];
                                    var gp = cellgp.childNodes[0];
                                    var gpval = gp.value;

                                    elements = {
                                        year: trnyval,
                                        month: fmonth,
                                        country: countval,
                                        quarter: Qval,
                                        Qyear: quYr,
                                        type: txnval,
                                        BU: buval,
                                        revenue: revenueval,
                                        gp: gpval
                                    }

                                    CountryBU.push(elements);
                                }
                            }
                        }
                        // }

                        $.ajax({
                            type: "Post",
                            url: "/CountryTarget/SaveCountryBU",
                            data: JSON.stringify({ "rjdata": CountryBU }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (result) {
                                //alert("Record Saved Successfully");
                                RdotAlertSucesstxt("Record Saved Successfully");
                                // location.reload();
                                clearall();
                                 var radioButtonArray = document.getElementsByName('tergettype');

                    for (var i = 0; i < radioButtonArray.length; i++) {
                        var radioButton = radioButtonArray[i];
                        radioButton.checked = false;
                    }
                    document.getElementById('divyr').style.display = 'none';
                   // document.getElementById('countrylist').innerHTML = "";
                            }

                        });
                    } else {
                        RdotAlerterrtxt("Please Enter compulsary fields.");
                    }
                   //  location.href = '@Url.Content("~/Targets/CountryTarget/Index/")';
                });
            </script>
            <style>
                .quick-scroll {
                    max-height: 300px;
                }
            </style>
