@model RDDStaffPortal.DAL.Report.RDD_Stock_Sheet

@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Inventory Sheet Report</h4>
            </div>
            <div class="rowmin">
                <div class="col-md-12">
                    <button class="btn btn-info btn-sm mar-b10" id="FilterBtn">  <span class="btn-label"> </span> <i class="fas fa-filter"></i></button>
                </div>
            </div>
            <div class="rowmin" id="FilterSection" style="display:none">

                <div class="col-md-12">
                    <div class="card success-border full-height padd-10">
                        <div class="row">

                            <div class="col-xl-3 col-md-3" id="Country1">
                                <div class="form-group">
                                    <label for="email2" class="width100px">Country :</label>
                                    @Html.DropDownListFor(m => m.Country, ViewBag.countryList as SelectList, "-Select-", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3 Abc" id="BUGroup1">
                                <div class="form-group">
                                    <label for="email2" class="width100px">BU  Group :</label>
                                    @Html.DropDownListFor(m => m.BUGroup, ViewBag.BUGroupList as SelectList, "-Select-", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3" id="BU1">
                                <div class="form-group">
                                    <label for="email2" class="width100px">BU :</label>
                                    @Html.DropDownListFor(m => m.BU, ViewBag.BUList as SelectList, "-Select-", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-xl-3 col-md-3" id="WhseOwner1">
                                <div class="form-group">
                                    <label for="email2" class="width100px">Warehouse Owner :</label>
                                    @Html.DropDownListFor(m => m.WhseOwner, ViewBag.WhseOwnerList as SelectList, "-Select-", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3" id="WhseName1">
                                <div class="form-group">
                                    <label for="email2" class="width100px">Warehouse Name :</label>
                                    @Html.DropDownListFor(m => m.WhseName, ViewBag.warehousenameList as SelectList, "-Select-", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3" id="WhseStatus1">
                                <div class="form-group">
                                    <label for="email2" class="width100px">Warehouse Status :</label>
                                    @Html.DropDownListFor(m => m.WhseStatus, ViewBag.WhseStatusList as SelectList, "-Select-", new { @class = "form-control form-control-sm" })
                                </div>


                            </div>
                            <div class="row">


                                <div class="col-xl-1 col-md-1 ml-auto">
                                    <div class="form-group">
                                        <label for="email2" class="width100px"></label>
                                        <button class="btn btn-info btn-sm" id="btnApply">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="rowmin">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="rowmin row mar-b10">


                                <div class="col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" placeholder="Search" class="form-control form-control-sm" id="Search-Forms-QuickLinks">
                                    </div>
                                </div>


                                <div class="col-xl-2 col-md-2 ml-auto text-right">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Hide Column"><i href="#" data-toggle="modal" data-target="#SelectWidgetspopup" class="fas fa-minus-circle"></i></button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Export to Excel"><a href="/Reports/Reports/DownloadToExcel2" class="fas fa-file-excel"></a></button>


                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="reddotTable sm-form mar-t0">
                                    <div class="loader1"></div>
                                    <div id="Ind" class="reddotTableBody">
                                        <div class="reddotTableRow odd-even-row">


                                            <div class="reddotTableHead"><div> Country</div></div>
                                            <div class="reddotTableHead"><div> ItemCode</div></div>
                                            <div class="reddotTableHead"><div> ItemDesc</div></div>
                                            <div class="reddotTableHead"><div> WhseName</div></div>
                                            <div class="reddotTableHead"><div> WhseStatus</div></div>
                                            <div class="reddotTableHead"><div> BU</div></div>
                                            <div class="reddotTableHead"><div> OrderType</div></div>
                                           
                                            <div class="reddotTableHead"><div> Qty</div></div>
                                           
                                            <div class="reddotTableHead"><div> WhseOwner</div></div>
                                            <div class="reddotTableHead"><div> ProdCategory</div></div>
                                            <div class="reddotTableHead"><div> ProdLine</div></div>
                                            <div class="reddotTableHead"><div> ProdGroup</div></div>

                                        </div>
                                    </div>
                                    <div id="Ibody" class="reddotTableBody">
                                        <div id="Ist" class="reddotTableRow odd-even-row">

                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                           
                                           

                                        </div>

                                    </div>
                                </div>
                                <div class="row mar-t10">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination mar-b0">
                                            <li class="page-item prev"><a class="page-link" href="#">Previous</a></li>

                                            <li class="page-item next"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="SelectWidgetspopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" keyboard="false" data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Show/Hide Columns</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body selectwidget-section">
                <div class="row rowmin" id="idchk">
                    @*<div class="col-md-12 mar-b10">
                        <div class="row" id="idchk"> </div>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnsave" type="button" class="btn btn-info btn-sm">Save</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var tblhead1 = ['Country', 'ItemCode', 'ItemDesc', 'WhseName', 'WhseStatus', 'BU', 'OrderType', 'Qty', 'WhseOwner', 'ProdCategory', 'ProdLine', 'ProdGroup'];
    var tblhide = ['ItemDesc', 'ProdCategory', 'ProdLine', 'ProdGroup'];
    $(".loader1").show();
    
    $(document).ready(function () {
        var k1 = 0;
        while (tblhead1.length > k1) {
            if (jQuery.inArray(tblhead1[k1], tblhide) !== -1) {
                //$("#idchk").append(" <div class='col-sm-1 col-md-1 text-right'><input id='" + tblhead1[k1]+"' type='checkbox' ></div><div class='col-sm-2 col-md-2'>" + tblhead1[k1] + "</div> ");
                $('div#' + tblhead1[k1] + '1').addClass("Abc");
                $("#idchk").append("<div class='col-md-3 mar-b10'><div class='panel'><div class='row'><div class='col-sm-10 col-md-10'><div class='widget-content padd-0'><span class='widget-name'> " + tblhead1[k1] + "</span></div></div><div class='col-sm-2 col-md-2 ml-auto'><label class='colorinput mar-t6 mar-b0'><input id='" + tblhead1[k1] +"' type='checkbox' class='colorinput-input'><span class='colorinput-color bg-secondary'></span><div> </label></div></div></div></div></div>");
            } else {
                $('div#' + tblhead1[k1] + '1').removeClass("Abc");
                $("#idchk").append("<div class='col-md-3 mar-b10'><div class='panel'><div class='row'><div class='col-sm-10 col-md-10'><div class='widget-content padd-0'><span class='widget-name'> " + tblhead1[k1] + "</span></div></div><div class='col-sm-2 col-md-2 ml-auto'><label class='colorinput mar-t6 mar-b0'><input id='" + tblhead1[k1] +"' type='checkbox' class='colorinput-input' checked><span class='colorinput-color bg-secondary'></span><div> </label></div></div></div></div></div>");
              // $("#idchk").append(" <div class='col-sm-1 col-md-1 text-right'><input id='" + tblhead1[k1] +"' type='checkbox' checked></div><div class='col-sm-2 col-md-2'>" + tblhead1[k1] + "</div> ");
            }
            k1++;
        }

        $('#WhseOwner').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select WareHouse Owner--'
        });
        $('#WhseStatus').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select WareHouse Status--'
        });

        $('#BUGroup').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select BU Group--'
        });

        $('#WhseName').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select WareHouse Name--'
        });
        $('#BU').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select BU--'
        });
        $('#Country').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select Country--'
        });



        $("#FilterBtn").click(function () {
            $("#FilterSection").slideToggle("slow");

        });
        var value1 = $("#Search-Forms-QuickLinks").val().toLowerCase();
        var arr = [];
        var curPage = 1;
        $.ajax({
            type: "POST",
            url: "/Reports/Reports/StockSheetReport",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                pagesize: 50,
                pageno: curPage,
                psearch: value1,
                Country: $("#Country").val(),
                BUGroup: $("#BUGroup").val(),
                BU: $("#BU").val(),
                Whsename: $("#WhseName").val(),
                WhseOwn: $("#WhseOwner").val(),
                WhseStatus: $("#WhseStatus").val()
            }),
            success: function (data) {
                $("#Ist").show();
                arr = data;
                if (arr.data != null && arr.data.length != 0) {
                    var i = 0;
                    while (arr.data.length > i) {
                        var tr = $("#Ist").clone();
                        var tr1 = $("#Ind").closest();
                        var k = 0;
                        var l1 = tr.find(".reddotTableCell").length;
                        while (l1 > k) {
                            tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                            var t = tblhead1[k];
                            debugger
                            if (jQuery.inArray(t, tblhide) !== -1) {
                                tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                            }

                            k++;
                        }
                        $("#Ibody").append(tr);
                        i++;
                    }
                    $("#Ist")[0].remove();
                } else {
                    $("#Ist").hide();
                    RdotAlerterrtxt1("No Record Found");
                }
            }, complete: function () {
                $(".loader1").hide();
            }
        });


        $("#btnsave").on("click", function () {
            debugger
            $(".loader1").show();
            tblhide = [];
            $('input:checkbox').each(function () {

                var IsActiveTxt = $(this).is(":checked");
                if (IsActiveTxt == false && $(this).attr("id") != undefined) {

                    tblhide.push($(this).attr("id"));
                    $('div#' + $(this).attr("id") + '1').addClass("Abc");
                } else {
                    $('div#' + $(this).attr("id") + '1').removeClass("Abc");
                }
                $("select").val('').trigger('change');
            }
            )
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/StockSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,
                    Country: $("#Country").val(),
                    BUGroup: $("#BUGroup").val(),
                    BU: $("#BU").val(),
                    Whsename: $("#WhseName").val(),
                    WhseOwn: $("#WhseOwner").val(),
                    WhseStatus: $("#WhseStatus").val()
                }),
                success: function (data) {
                    $("div#Ist").not(':first').remove();
                    $("#Ist").show();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    debugger
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc");
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc");
                                } else {
                                    tr.find(".reddotTableCell").eq(k).removeClass("Abc");
                                    tr1.prevObject.find(".reddotTableHead").eq(k).removeClass("Abc");
                                }

                                k++;
                            }
                            $("#Ibody").append(tr);

                            i++;
                        }

                        $("#Ist")[0].remove();
                        $('.close').trigger("click");
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }
                }, complete: function () {
                    $(".loader1").hide();
                }, error: function () {
                    $(".loader1").hide();
                }
            });

        })

        $('.next').bind('click', function () {
            $(".loader1").show();
            curPage++;
            if (curPage > arr.data[0].TotalCount)
                curPage = 0;
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/StockSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,
                    Country: $("#Country").val(),
                    BUGroup: $("#BUGroup").val(),
                    BU: $("#BU").val(),
                    Whsename: $("#WhseName").val(),
                    WhseOwn: $("#WhseOwner").val(),
                    WhseStatus: $("#WhseStatus").val()
                }),
                success: function (data) {

                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }


                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }

                }, complete: function () {
                    $(".loader1").hide();}
            });
        });

        $('.prev').bind('click', function () {
            $(".loader1").show();
            curPage--;
            if (curPage < 0)
                curPage = (arr.data[0].TotalCount - 1);
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/StockSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,
                    Country: $("#Country").val(),
                    BUGroup: $("#BUGroup").val(),
                    BU: $("#BU").val(),
                    Whsename: $("#WhseName").val(),
                    WhseOwn: $("#WhseOwner").val(),
                    WhseStatus: $("#WhseStatus").val()
                }),
                success: function (data) {
                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }
                }, complete: function () {
                    $(".loader1").hide();
                }
            });
        });

        $("#btnApply").on("click", function () {
            $(".loader1").show();
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/StockSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,
                    Country: $("#Country").val(),
                    BUGroup: $("#BUGroup").val(),
                    BU: $("#BU").val(),
                    Whsename: $("#WhseName").val(),
                    WhseOwn: $("#WhseOwner").val(),
                    WhseStatus: $("#WhseStatus").val()
                }),
                success: function (data) {
                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }
                }, complete: function () {
                    $(".loader1").hide();
                }, error: function () {
                    $(".loader1").hide();
                }
            });
        })
        $("#Search-Forms-QuickLinks").on("keyup", function () {
            $(".loader1").show();
            var value = $(this).val().toLowerCase();
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/StockSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value,
                    Country: $("#Country").val(),
                    BUGroup: $("#BUGroup").val(),
                    BU: $("#BU").val(),
                    Whsename: $("#WhseName").val(),
                    WhseOwn: $("#WhseOwner").val(),
                    WhseStatus: $("#WhseStatus").val()
                }),
                success: function (data) {
                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }
                }, complete: function () {
                    $(".loader1").hide();
                }, error: function () {
                    $(".loader1").hide();
                }
            });
        });
        //$(".fa-file-excel").on("click", function () {
        //    debugger
        //    $.post("/DownloadExcel").done(function (response) {

        //    })
        //})
    });
</script>
<style>
    .Abc {
        display: none;
    }
</style>
