
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">User Roles</h4>
            </div>
            @*<div class="row">
                <div class="card">

                    <div class="form-group">
                        <button style="margin-right:10px" class="btn btn-primary" onclick="CreateRole()">Manage Role</button>
                    </div>


                </div>
            </div>*@

            <div class="rowmin">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="rowmin row mar-b10">
                                    <div class="col-xl-1 col-md-1">
                                        <div class="form-group">
                                            <label for="email2" class="width100px mar-t4">User :</label>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-md-4">
                                        <div class="form-group">
                                            @*@Html.DropDownListFor(m => m.ColName, ViewBag.Users as SelectList, "-Select-", new { @id = "EmployeeId", @class = "form-control form-control-sm", @onchange = "SearchByEmp()" })*@
                                        </div>
                                    </div>

                                    <div class="col-xl-7 col-md-7">
                                        <div class="form-group">
                                            <button style="margin-right:10px" class="btn btn-success pull-right" onclick="CreateRole()">Create Role</button>
                                            </div>
                                        </div>

                                        @*<div class="col-xl-1 col-md-1  padd-l0">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success btn-sm" id="SearchByEmp">Search</button>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="rowmin row">
                                        <div class="col-md-2" id="product">
                                            <div class="row">
                                                <div class="col-md-18 padd-l5 padd-r5">
                                                    <div class="panel">
                                                        <div class="panel-heading text-center panelbg-1">Roles</div>

                                                        <ul class="clear">
                                                            @foreach (var items in ViewBag.UserRoles)
                                                            {
                                                                <li data-id="@items" class="ui-draggable ui-draggable-handle">
                                                                    <a href="#"> @items </a>
                                                                </li>
                                                            }
                                                        </ul>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-10" id="sidebar">

                                            <div class="row">
                                                @*@foreach (var items in ViewBag.CountryList)
                    {
                        <div class="col-md-3 padd-l5 padd-r5 mar-b10" id="@items.CountryCode">
                            <div class="panel">
                                <div class="panel-heading text-center">


                                    <label id="CountryCode_@items.CountryCode">@items.CountryCode</label>

                                </div>
                                <div class="basket">
                                    <div class="basket_list">

                                        <ul class="@items.CountryCode"></ul>
                                    </div>
                                </div>

                                <div class="card-action">
                                    <button class="btn btn-success btn-sm" value="@items.CountryCode" id="SaveEmpBu_@items.CountryCode" onclick="SaveEmpBUCoutry('@items.CountryCode')">Save</button>

                                </div>
                            </div>
                        </div>
                    }*@
                                            </div>

                                        </div>

                                    </div>

                                </div>

                        </div>
                    </div>


                </div>



            </div>

        </div>
    </div>

    <div class="modal fade" id="NewRole">
        <div class="modal-dialog modal-lg" style=" width :900px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><strong> <span style="color:white">Manage Role</span></strong> </h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row addwidgetclass mar-b10">
                                <div class="col-md-10 padd-0">

                                    <div class="form-group">
                                        <label for="email2" class="width100px">Role Name :</label>
                                        <input type="hidden" id="RoleId" />
                                        <input type="text" class="form-control width200px" id="RoleName" placeholder="Enter Role Name">

                                    </div>

                                    <div class="form-group">
                                        <label for="email2" class="width100px"></label>
                                        <div class="mar-t7"><button type="button" data-target="#myModal" class="btn btn-success submitbtn add-new" id="SaveRole">Create Role</button></div>

                                    </div>

                                    <div class="form-group" style="width:100px;"></div>

                                    <div class="form-group">
                                        <label for="search" class="width100px">Search</label>
                                        <input type="text" class="form-control width180px" id="txtSearchRole" placeholder="Search for names..">
                                    </div>

                                </div>

                            </div>


                            <div class="row">
                                <table class="table table-bordered" id="tblItem">
                                    <thead>
                                        <tr>
                                            <th class="width20px">Sr.No</th>
                                            <th class="width100px">Role Name</th>
                                            <th class="width100px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="setRolesList"></tbody>
                                </table>
                            </div>

                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
            </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Scripts/dragdrop/jquery-ui-1.9.0.custom.min.js"></script>
<link href="~/Scripts/dragdrop/main.css" rel="stylesheet" />

<script type="text/javascript">


            $(document).ready(function () {
                // To bind Roles on PageLoad
                //GetRoles();
            });


            /// This is to OPEN Create Role pop-up window
            function CreateRole() {
                $("#NewRole").modal();
                // To bind Roles on PageLoad
                GetRoles();
            }

            function GetRoles() {
                debugger
                $('#setRolesList').html('');

                $.get("/UserRoles/GetRoles", null, DataBind);
                function DataBind(Roles) {
                    debugger;
                    var AppendRoles = $('#setRolesList');
                    for (var i = 0; i < Roles.length; i++) {
                        debugger;
                        var Data = "<tr class='row_ >" + i + "'>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td  >" + Roles[i] + "</td>"

                        Data = Data + "<td> <button type='button' title='Delete' data-toggle='tooltip' class='btn btn-danger delete' id='btn_DeleteRole' ><i class='fas fa-trash-alt'></i></button></td ></tr >";

                        "</tr>";

                        AppendRoles.append(Data);

                    }
                }
            }


            $('#SaveRole').click(function () {
                debugger
                if ($("#RoleName").val() == "") {
                    alert('please enter Role');
                    $("#RoleName").focus();
                    return false;
                }
                $.ajax({
                    type: "Post",
                    url: "/UserRoles/CreateRole",
                    data: "{'RoleName':'" + $("#RoleName").val() + "'}",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        debugger;
                        if (result.Success == true) {
                            RdotAlertSucesstxt(result.Message);
                            $("#RoleName").val('');
                            GetRoles();
                        }
                        else {
                            RdotAlerterrtxt(result.Message);
                            $("#RoleName").val('');
                        }
                    }
                });
            });


            $('#setRolesList').on('click', '#btn_DeleteRole', function () {

                var Role = $(this).closest("tr").find('td:eq(1)').text();

                const swalWithBootstrapButtons = Swal.mixin({
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                })
                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.getJSON("/UserRoles/DeleteRole", { RoleName: Role }).done(function (data) {
                            if (data.Success == true) {
                                RdotAlertSucesstxt(data.Message);
                                $("#RoleName").val('');
                                GetRoles();
                            }
                            else {
                                RdotAlerterrtxt(data.Message);
                                $("#RoleName").val('');
                            }

                        });
                        //swalWithBootstrapButtons.fire(
                        //    'Deleted!',
                        //    'Your Record  has been deleted.',
                        //    'success'
                        //)
                    }
                    else if (
                        // Read more about handling dismissals
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your Record  is safe :)',
                            'error'
                        )
                    }
                })

            });


            $("#txtSearchRole").on("keyup", function () {
                var value = $(this).val().toLowerCase();

                $("#setRolesList tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });



 </script>

