@model RDDStaffPortal.DAL.DataModels.Admin.RDD_Approval_Templates
@{
    var count = 1;
    var count1 = 1;

}




@Html.HiddenFor(m => m.EditFlag, true)
@Html.HiddenFor(m => m.Template_Id)
@Html.HiddenFor(m => m.CreatedBy)
@Html.HiddenFor(m => m.CreatedOn)
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="row rowmin">
            <div class="col-md-8 col-lg-8">
                <div id="div-ObjType"class="form-group form-inline has-error1">
                    <label for="Database" class="col-md-1 col-form-label width120px">Document :</label>
                    <div class="col-md-8 p-0">
                        @Html.DropDownListFor(m => m.ObjType, Model.DocumentNameList, new { @class = "form-control form-control-sm dropcheck" })

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="form-group form-inline">
                    <label for="Database" class="col-md-1 col-form-label">Status :</label>

                    <div class="col-md-5 p-0">
                        <div class="input-group">
                            <label class="switch">
                                <input type="checkbox" id="TempStatus"> <div></div>
                                @Html.HiddenFor(m => m.Status)
                            </label>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="row rowmin">
            <div class="col-md-8 col-lg-8">
                <div id="div-Description" class="form-group form-inline has-error1">
                    <label for="Database" class="col-md-1 col-form-label width120px">Description :</label>
                    <div class="col-md-8 p-0">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control form-control-sm txtcheck",@maxlength = "510" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="panel padd-10 mar-t10 panel-red-border">
            <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-Originator-tab" data-toggle="pill" href="#pills-Originator" role="tab" aria-controls="pills-Originator" aria-selected="true">Originator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Approver-tab" data-toggle="pill" href="#pills-Approver" role="tab" aria-controls="pills-Approver" aria-selected="false">Approver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-Conditions-tab" data-toggle="pill" href="#pills-Conditions" role="tab" aria-controls="pills-Conditions" aria-selected="false">Conditions</a>
                </li>
            </ul>
            <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-Originator" role="tabpanel" aria-labelledby="pills-Originator-tab">
                    <div class="row">
                        <div class="col-xl-10 col-md-10 p-0">
                            <div class="table-responsive">
                                <div class="quick-scroll scrollbar-inner">
                                    <div class="reddotTable sm-form m-0">

                                        <div class="reddotTable sm-form mar-t0">

                                            <div id="IInd" class="reddotTableBody">
                                                <div class="reddotTableRow odd-even-row">
                                                    <div class="reddotTableHead width10per"><div>Sr No </div></div>

                                                    <div class="reddotTableHead width80per"><div>Originator </div></div>
                                                    <div class="reddotTableHead width10per"><div>Action </div></div>


                                                </div>
                                            </div>
                                            <div id="IIbody" class="reddotTableBody">
                                                @if (Model.RDD_Approval_OriginatorsList != null)
                                                {


                                                    for (int i = 0; i < Model.RDD_Approval_OriginatorsList.Count(); i++)
                                                    {

                                                        <div id="IIst" class="reddotTableRow odd-even-row OriginatorDet">
                                                            <div class="reddotTableCell width10per Abcd"><div>@Html.TextBox(string.Concat("OriSrno", count), count, new { @readonly = "readonly" })</div></div>

                                                            <div class="reddotTableCell width80per Abcd">
                                                                <div>
                                                                    @Html.TextBox(string.Concat("Originator", count), Model.RDD_Approval_OriginatorsList[count - 1].OriginatorName, new { @class = "form-control form-control-sm inputs" })
                                                                    @Html.Hidden(string.Concat("hdnOriginator", count), Model.RDD_Approval_OriginatorsList[count - 1].Originator)

                                                                </div>
                                                            </div>

                                                            <div class='reddotTableCell width10per'><div><button type='button' title='' class='btn btn-danger delete btn-sm ibtnDel' data-original-title='Delete' id='btntblDel'> <i class='fas fa-trash'></i></button></div></div>
                                                        </div>
                                                        count++;
                                                    }
                                                }

                                                <div id="IIst" class="reddotTableRow odd-even-row OriginatorDet">
                                                    <div class="reddotTableCell width10per Abcd"><div>@Html.TextBox(string.Concat("OriSrno", count), count, new { @readonly = "readonly" })</div></div>

                                                    <div class="reddotTableCell width80per Abcd">
                                                        <div>
                                                            @Html.TextBox(string.Concat("Originator", count), "", new { @class = "form-control form-control-sm inputs" })
                                                            @Html.Hidden(string.Concat("hdnOriginator", count))
                                                        </div>
                                                    </div>

                                                    <div class='reddotTableCell width10per'><div><button type='button' title='' class='btn btn-danger delete btn-sm ibtnDel' data-original-title='Delete' id='btntblDel'> <i class='fas fa-trash'></i></button></div></div>
                                                </div>
                                            </div>
                                        </div>

                                        @Html.Hidden(string.Concat("hdncount"), count)




                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="pills-Approver" role="tabpanel" aria-labelledby="pills-Approver-tab">
                    <div class="row rowmin">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-1 col-form-label">No. of Approval Req. :</label>
                                <div class="col-md-3 p-0">
                                    @Html.TextBoxFor(m => m.no_of_approvals, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-10 col-md-10 p-0">
                            <div class="table-responsive">
                                <div class="quick-scroll scrollbar-inner">
                                    <div class="reddotTable sm-form m-0">

                                        <div class="reddotTable sm-form mar-t0">

                                            <div id="IIInd" class="reddotTableBody">
                                                <div class="reddotTableRow odd-even-row">
                                                    <div class="reddotTableHead"><div>Sequence </div></div>
                                                    <div class="reddotTableHead"><div>Mandatory </div></div>
                                                    <div class="reddotTableHead"><div>Approver </div></div>
                                                    <div class="reddotTableHead"><div>Action </div></div>


                                                </div>
                                            </div>
                                            <div id="IIIbody" class="reddotTableBody">
                                                @if (Model.RDD_Approval_ApproversList != null)
                                                {


                                                    for (int i = 0; i < Model.RDD_Approval_ApproversList.Count(); i++)
                                                    {

                                                        <div id="IIst" class="reddotTableRow odd-even-row ApproverDet">
                                                            <div class="reddotTableCell Abcd"><div>@Html.TextBox(string.Concat("SeqSrno", count1), count1, new { @readonly = "readonly" })</div></div>
                                                            <div class="reddotTableCell Abcd">
                                                                <div>
                                                                    <label class="colorinput"> <input name="color" type="checkbox" value="primary" class="colorinput-input"> <span class="colorinput-color bg-danger"></span> </label>
                                                                    @Html.Hidden(string.Concat("hdnMandtory", count1), Model.RDD_Approval_ApproversList[count1 - 1].IsApproval_Mandatory)
                                                                </div>
                                                            </div>
                                                            <div class="reddotTableCell Abcd">
                                                                <div>
                                                                    @Html.TextBox(string.Concat("Approver", count1), Model.RDD_Approval_ApproversList[count1 - 1].Approver, new { @class = "form-control form-control-sm" })
                                                                    @Html.Hidden(string.Concat("hdnApprover", count1), Model.RDD_Approval_ApproversList[count1 - 1].Approver)

                                                                </div>
                                                            </div>

                                                            <div class='reddotTableCell'><div><button type='button' title='' class='btn btn-danger delete btn-sm ibtnDel' data-original-title='Delete' id='btntblDel'> <i class='fas fa-trash'></i></button></div></div>
                                                        </div>
                                                        count1++;
                                                    }
                                                }
                                                <div id="IIIst" class="reddotTableRow odd-even-row ApproverDet">

                                                    <div class="reddotTableCell Abcd"><div>@Html.TextBox(string.Concat("SeqSrno", count1), count1, new { @readonly = "readonly" })</div></div>
                                                    <div class="reddotTableCell Abcd"><div><label class="colorinput"> <input name="color" type="checkbox" value="primary" class="colorinput-input"> <span class="colorinput-color bg-danger"></span> </label></div></div>
                                                    <div class="reddotTableCell Abcd">
                                                        <div>
                                                            @Html.TextBox(string.Concat("Approver", count1), "", new { @class = "form-control form-control-sm" })
                                                            @Html.Hidden(string.Concat("hdnApprover", count1))

                                                        </div>
                                                    </div>

                                                    <div class='reddotTableCell'><div><button type='button' title='' class='btn btn-danger delete btn-sm ibtnDel' data-original-title='Delete' id='btntblDel'> <i class='fas fa-trash'></i></button></div></div>
                                                </div>
                                            </div>

                                            @Html.Hidden(string.Concat("hdncount1"), count1)
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="pills-Conditions" role="tabpanel" aria-labelledby="pills-Conditions-tab">
                    <div class="row">
                        <div class="col-xl-1 col-md-1 p-0">
                            <label class="form-radio-label">
                                <input class="form-radio-input" type="radio" name="optionsRadios" id="IstCondition" value="" checked>
                                <span class="form-radio-sign">Always</span>
                            </label>
                            <label class="form-radio-label">
                                <input class="form-radio-input" type="radio" name="optionsRadios" id="IIndCondition" value="">
                                <span class="form-radio-sign">When Below Apply</span>
                            </label>
                            @Html.HiddenFor(m => m.Condition)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group form-inline">
                                <div class="col-md-12 p-0">
                                    @Html.TextBoxFor(m => m.Condition_Text, new { @class = "form-control form-control-sm" })

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@*<link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@


<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="~/Scripts/RedDotUtility.js"></script>
<script src="~/Scripts/Application/ApprovalOP.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        try {

        ApprovalOP.initialize();

        } catch (e) {
            debugger
           
                //RedDot_Button_Init_HideShow();
            location.reload();
            
            
        }

    });
</script>

<style>
    .quick-scroll {
        max-height: 270px;
    }
</style>